.content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 64px 0 0;
  width: 100%;
  height: calc(100% - 48px);
  overflow: auto;
}

.title {
  margin: 0 64px;
}

.exportBtn,
.importBtn {
  position: relative;
  margin: 0 64px;
  padding: 14px 0;
  opacity: 0.6;
}

.exportBtn::after,
.importBtn::after {
  position: absolute;
  top: 15px;
  right: 0;
  content: '';
  width: 11px;
  height: 15px;
  background-image: url(../../assets/img/arrow-right-14-basic-200.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.exportBtn:hover,
.importBtn:hover {
  opacity: 1;
}

.exportBtn {
  margin-top: 16px;
  border-bottom: 1px solid #e9e9eb;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  border-top: 1px solid #edf0f4;
  padding: 24px;
  background-color: #f8f9fb;
}

.exportAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  cursor: pointer;
}

.exportAllIcon {
  display: block;
  margin-bottom: 6px;
  width: 18px;
  height: 18px;
  background-image: url(../../assets/img/export.svg);
  background-size: cover;
}
