.content {
  position: relative;
  flex: 1;
  padding: 48px 48px 31px 48px;
  display: flex;
  flex-direction: column;
}

.greyLine {
  margin: 0 -64px 40px;
  font-size: 12px;
}

.error {
  margin-bottom: 44px;
}

.errorButton {
  color: var(--color-submit400);
  cursor: pointer;
}

.errorButton:hover {
  color: var(--color-submit300);
}
