.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  word-break: break-word;
}

.importIcon {
  flex-shrink: 0;
  margin: auto;
  display: block;
}

.successIcon {
  flex-shrink: 0;
  margin: 48px auto 24px;
  width: 80px;
  height: 80px;
}

.address {
  margin-left: 48px;
}

.title {
  margin: 0 84px 8px;
  text-align: center;
}

.description {
  margin: 0 72px 24px;
  text-align: center;
}

.footer {
  margin: auto 0 0;
  padding: 20px 48px;
  border: 1px solid var(--color-basic100);
}

.button:not(:last-child) {
  margin-bottom: 14px;
}

.greyLine {
  position: relative;
  left: -60px;
  width: calc(100% + 120px);
  margin: 0 0 40px 0;
  padding: 12px 16px;
  background: #f7f8fa;
  font-size: 15px;
  color: #222;
  display: flex;
  align-items: center;
  min-height: 44px;
  word-break: break-all;
  border: 1px solid #e5e8ef;
  box-sizing: border-box;
}

.addressWrapper {
  width: 100%;
  min-width: 0;
}

.addressBox {
  width: 100%;
  background: #f7f8fa;
  border: 1px dashed #e5e8ef;
  padding: 12px 0 12px 0;
  margin-bottom: 32px;
  margin-top: 4px;
}

.addressLine {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: monospace, monospace;
  font-size: 13px;
  color: #222;
  padding: 2px 24px;
  padding-left: 3rem;
  word-break: break-all;
}

.addressLabel {
  color: #aeb8c4;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 3rem;
}
