.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px 60px 32px;
  overflow: auto;
  word-break: break-word;
}

.importIcon {
  display: block;
  flex-shrink: 0;
  margin: auto;
}

.successIcon {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin: auto auto 0;
}

.greyLine {
  margin: 0 -64px 20px;
}

.footer {
  margin: 20px 0 auto;
}
