.content {
  display: block;
  position: relative;
  margin: 84px 60px 0;
  height: calc(100% - 180px);
}

.greyLine {
  margin: 0 -64px 40px;
  font-size: 12px;
}

.error {
  margin-bottom: 44px;
  height: 12px;
}

.errorSwitchTab {
  background: none;
  color: var(--color-submit400);
  cursor: pointer;
}

.errorSwitchTab:hover {
  color: var(--color-submit300);
}
