.content {
  position: relative;
  margin: 84px 48px 0;
  display: block;
  height: 100%;
}

.greyLine {
  margin: 0 -64px 20px;
}

.footer {
  margin-top: auto;
}

.continueBtn {
  position: absolute;
  bottom: 200px;
}
