.root {
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px);
  overflow: auto;
}

.wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 14px;
  background: #fff;
  border-bottom: 1px solid #edf0f4;
}

.title {
  font-weight: normal;
  font-size: 24px;
}

.fields {
  position: relative;
  flex: 1 0 auto;
  padding: 14px;
  background: #f8f9fb;
}

.submitButtonWrapper {
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 14px;
  background: #fff;
  border-top: 1px solid #edf0f4;
}

.recipientHelper {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 4px;
  color: #9ba6b2;
}
