.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
}

.logo {
  width: auto;
  margin: 186px 48px 44px;
}

button.button {
  width: auto;
  margin: 0 48px 24px;
}

.text {
  margin: 0 48px;
}

.footer {
  margin-top: auto;
  padding: 13px 48px 14px;
  background-color: var(--color-basic50);
  border-top: 1px solid #edf0f4;
}
