.collapsed
  position: relative;
  width: calc(100% + 24px);
  margin: 0 -12px;
  padding: 0 12px;

.content
  width: 100%;
  position: relative;

.title
  height: 40px;
  width: 100%;
  font-size: 14px;

  &:after
    position: absolute;
    width: 14px;
    height: 14px;
    content: ' ';
    background: url(../../../assets/img/arrow-down-14-basic-200.svg) center no-repeat;
    right: 14px;
    top: 13px;

.open
  .title:after
    background: url(../../../assets/img/arrow-up-14-basic-200.svg) center no-repeat;
