@import "./colors.styl";
@import "./fonts.styl";

:global html
  background: $accent50;
  width: 100% !important;
  height: 100% !important;
  min-height: 600px;

:global *
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;

  &::-webkit-scrollbar
    z-index: 4;
    position: relative;
    width: 4px;
    height: 8px;
    background-color: $white;

  &::-webkit-scrollbar-thumb
    background: $black;
    border-radius: 2px;

:global body
  width: 100%;
  height: 100%;
  display: flex;
  line-height: normal;
  font-family: Roboto;
  font-weight: 300;
  overflow: hidden;
  margin: 0 auto;
  min-width: 357px;
  min-height: 600px;
  align-items: center;
  justify-content: center;

ul
  list-style-type: none;
  padding: 0;

// aligns
:global #app-content
  position: absolute;
  width: 357px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $white;

:global #app-content
:global .app
  height: 100%;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden;
  min-width: 357px;

:global .left
  text-align: left;

:global .right
  text-align: right;

:global .center
  text-align: center;

:global .relative
  position: relative;

:global .absolute
  position: absolute;

:global .flex
  display: flex;
  justify-content: space-between;
  align-items: center;

:global .block
  display: block;

// typography
:global .title1
  font-size: 24px;
  font-weight: normal;

:global .headline1
  font-size: 18px;

:global .headline2
  font-size: 18px;
  font-family: Roboto-Medium, Arial, Tahoma;

:global .headline2Bold
  font-size: 18px;
  font-family: Roboto-Bold, Arial, Tahoma;

:global .headline3
  font-size: 16px;

:global .headline4
  font-size: 16px;
  font-family: Roboto;

:global .body1
  font-size: 14px;

:global .body2
  font-size: 16px;
  font-family: Roboto-Medium, Arial, Tahoma;

:global .body3
  font-size: 12px;

:global .tag1
  font-size: 11px;

:global .link
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;

  &:blue
    color: $submit400;
  &:hover
    text-decoration: none;

:global .capitalize
  text-transform: capitalize;

// layout
$layout-4 = 4px;
$layout-10 = 10px;
$layout-14 = 14px;
$layout-24 = 24px;
$layout-44 = 44px;

:global .fullwidth
  width: 100%;

:global .centered
  margin: 0 auto;

:global .margin-min
  margin-bottom: $layout-4;

:global .margin-main
  margin-bottom: $layout-14;

:global .margin-main-big
  margin-bottom: $layout-24;

:global .margin-main-large
  margin-bottom: $layout-44;

:global .margin-min-top
  margin-top: $layout-4;

:global .margin-main-top
  margin-top: $layout-14;

:global .margin-main-big-top
  margin-top: $layout-24;

:global .margin-main-large-top
  margin-top: $layout-44;

:global .margin1
  margin-bottom: $layout-10;

:global .margin2
  margin-bottom: $layout-10 * 2;

:global .margin3
  margin-bottom: $layout-10 * 3;

:global .margin4
  margin-bottom: $layout-10 * 4;

:global .marginTop1
  margin-top: $layout-10;

:global .marginTop2
  margin-top: $layout-10 * 2;

:global .marginTop3
  margin-top: $layout-10 * 3;

:global .marginTop4
  margin-top: $layout-10 * 4;

:global .height
  height: 100%;
  display: block;

// font-weights
:global .font300
  font-weight: 300;

:global .font400
  font-weight: 400;

:global .font500
  font-weight: 500;

:global .font600
  font-weight: 600;

:global .break-all {
  word-break: break-all;
}

:global .underline {
  text-decoration: underline;
}

// misc
:global .separator
  height: 1px;
  border-bottom: 1px dashed $basic200;

:global .cant-select
  user-select: none;

:global .input-title
  display: inline-block;
  margin-bottom: 7px;

:global .tx-title
  display: inline-block;
  margin-bottom: 4px;
  &-black
    color: $black;
    margin-bottom: 4px;

:global .border-bottom
  border-bottom: 1px solid $accent50;

:global .border-dashed
  border: 1px dashed $basic200;

:global .grey-line
  background: $basic50;
  border: 1px dashed $basic200;
  display: flex;
  height: 42px;
  align-items: center;
  justify-content: center;
  font-size: 12px;

:global .origin-ellipsis
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;

// blocks

:global .plate
  background: $basic50;
  border: 1px dashed $basic200;
  padding: $layout-14;
  border-radius: 2px;

  &-with-controls
    max-height: 114px;
    display: flex;
    flex-direction: column;

    &-short
      max-height: 76px;

    & > div:first-child
      max-height: 110px;
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 14px;
      margin-right: -14px;

    .buttons-wrapper
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 14px;

      button
        padding: 0;
        margin: 0 20px 0 10px;
        color: $submit300;
        font-size: 12px;
        height: auto;
        background: none transparent;
        border: 0 none;
        border-radius: 0;
        position: relative;
        width: auto!important;
        flex-basis: auto;

        &:not(:last-child)
          &:after
            content: '';
            position: absolute;
            height: 14px;
            top: 0;
            background $basic500;
            display: block;
            right: -15px;
            width: 1px;

        &:hover
          border: 0 none;

        &:last-child
          margin-right: 0;

:global .transactionContent
  height: calc(100% - 160px);
  padding-bottom: 14px;

:global .info-block //with icon
  display: flex;
  align-items: flex-start;

  & > div:first-child
    flex-grow: 0;
    margin-right: 14px;

    i
      width: 18px;
      height: 18px;
      display: block;

  & > div:last-child
    flex-grow: 1;

// modals, errors, notifications

:global .tooltip
  background: $black;
  color: $white;
  font-size: 14px;
  height: 32px;
  position: absolute;
  display: none;
  transition: .3s;
  border-radius: 2px;
  padding: 8px 14px !important; //todo @uisk

  &::after
    background: $black;
    width: 10px;
    height: 10px;
    content: '';
    transform: rotate(45deg);
    right: 7px;
    bottom: -2px;
    position: absolute;

:global #app-modal
  position: relative;
  width: 100%;
  display: block;
  top: 0;
  z-index: 1000;

:global .modal
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

:global .tooltip
  display: none;
  opacity: 0;
  z-index: 10;

:global .showTooltip:not(.active-account-icon):hover + .tooltip
  display: block;
  opacity: 1;

:global .notification
  display: block;
  width: auto;
  height: 32px;
  padding: 0 24px;
  line-height: 32px;
  position: fixed;
  border-radius: 2px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  color: $white;
  z-index: 1;
  white-space: nowrap;
  margin: auto;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% + 255px);

  div {
    max-width: 276px;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.error
    background-color: $error400;
    z-index: 2;
