@import "./colors.styl";
@import "./fonts.styl";

:global *
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

:global body
  width: 100%;
  height: 100%;
  display: block;
  line-height: normal;
  font-family: Roboto;
  padding-top: 48px;
  position: relative;
  font-weight: 300;

  &::before {
    height: 47px;
    width: 100%;
    content: '';
    display: block;
    background: url(./../assets/img/waveskeeper-16.svg) center no-repeat;
    border-bottom: 1px solid $basic100;
    z-index: 1;
    position: absolute;
    top: 0;
  }

// align
:global #app-content,
:global .app
  height: 100%;

:global .left
  text-align: left;

:global .right
  text-align: right;

:global .center
  text-align: center;

.flex
  display: flex;
  justify-content: center;

// typography
:global .title1
  font-size: 24px;
  font-weight: 400;

:global .headline1
  font-size: 18px;

:global .headline2
  font-size: 18px;
  font-family: Roboto-Medium, Arial, Tahoma;

:global .headline3
  font-size: 16px;

:global .headline4
  font-size: 16px;
  font-family: Roboto;

:global .body1
  font-size: 14px;

:global .body2
  font-size: 16px;
  font-family: Roboto-Medium, Arial, Tahoma;

:global .body3
  font-size: 12px;

:global .tag1
  font-size: 11px;

// layout
$layout-10 = 10px;

:global .margin1
  margin-bottom: $layout-10;

:global .margin2
  margin-bottom: $layout-10 * 2;

:global .margin3
  margin-bottom: $layout-10 * 3;

:global .margin4
  margin-bottom: $layout-10 * 4;

:global .marginTop1
  margin-top: $layout-10;

:global .marginTop2
  margin-top: $layout-10 * 2;

:global .marginTop3
  margin-top: $layout-10 * 3;

:global .marginTop4
  margin-top: $layout-10 * 4;

:global .height
  height: 100%;
  display: block;

// font-weights
:global .font300
  font-weight: 300;

:global .font400
  font-weight: 400;

:global .font500
  font-weight: 500;

:global .font600
  font-weight: 600;
