$black = #000;
$white = #fff;
$basic-50 = #F8F9FB;
$basic-100 = #EDF0F4;
$basic-200 = #DAE1E9;
$basic-500 = #9BA6B2;
$accent-50 = #E9E9EB;
$disabled-400 = #BCBCBC;
$disabled-500 = #999;
$info-400 = #8DABC4;
$submit-200 = #BACAF4;
$submit-400 = #1f5af6;
$success-400 = #4AAD02;
$error-400 = #E5494D;
$error-500 = #EF4829;

:global .black {
  color: $black;
}

:global .white {
  color: $white;
}

:global .basic-50 {
  color: $basic-50;
}

:global .basic-100 {
  color: $basic-100;
}

:global .basic-200 {
  color: $basic-200;
}

:global .basic-500 {
  color: $basic-500
}

:global .accent-50 {
  color: $accent-50;
}

:global .disabled-400 {
  color: $disabled-400;
}

:global .disabled-500 {
  color: $disabled-500;
}

:global .info-400 {
  color: $info-400;
}

:global .submit-200 {
  color: $submit-200;
}

:global .submit-400 {
  color: $submit-400;
}

:global .success-400 {
  color: $success-400;
}

:global .error-400 {
  color: $error-400;
}

:global .error-500 {
  color: $error-500;
}
