$black = #000;
$white = #fff;
$basic50 = #F8F9FB;
$basic100 = #EDF0F4;
$basic200 = #DAE1E9;
$basic500 = #9BA6B2;
$accent50 = #E9E9EB;
$disabled200 = #c4d0ef;
$disabled400 = #BCBCBC;
$disabled500 = #999;
$info400 = #8DABC4;
$submit200 = #BACAF4;
$submit300 = #5A81EA;
$submit400 = #1f5af6;
$success400 = #4AAD02;
$error300 = #e5494dcc;
$error400 = #E5494D;
$error500 = #EF4829;

:global .black
  color: $black;

:global .white
  color: $white;

:global .basic50
  color: $basic50;

:global .basic100
  color: $basic100;

:global .basic200
  color: $basic200;

:global .basic500
  color: $basic500

:global .accent50
  color: $accent50;

:global .disabled400
  color: $disabled400;

:global .disabled500
  color: $disabled500;

:global .info400
  color: $info400;

:global .submit200
  color: $submit200;

:global .submit400
  color: $submit400;

:global .success400
  color: $success400;

:global .error400
  color: $error400;

:global .error500
  color: $error500;
