$black = #000;
$deepGray = #292f3c;
$white = #fff;
$basic50 = #F8F9FB;
$basic100 = #EDF0F4;
$basic200 = #DAE1E9;
$basic500 = #9BA6B2;
$accent50 = #E9E9EB;
$disabled200 = #c4d0ef;
$disabled400 = #BCBCBC;
$disabled500 = #999;
$info400 = #8DABC4;
$submit200 = #BACAF4;
$submit300 = #5A81EA;
$submit400 = #1f5af6;
$success400 = #4AAD02;
$error300 = #e5494dcc;
$error400 = #E5494D;
$error500 = #EF4829;
$error600 = #e53935;
$error700 = #d32f2f;
$errorBg = #e53935;
