@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../assets/fonts/roboto-thin.woff2') format('woff2'), url('../assets/fonts/roboto-thin.woff') format('woff'), url('../assets/fonts/roboto-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../assets/fonts/roboto-thin-italic.woff2') format('woff2'), url('../assets/fonts/roboto-thin-italic.woff') format('woff'), url('../assets/fonts/roboto-thin-italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('../assets/fonts/roboto-light.woff2') format('woff2'), url('../assets/fonts/roboto-light.woff') format('woff'), url('../assets/fonts/roboto-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../assets/fonts/roboto-light-italic.woff2') format('woff2'), url('../assets/fonts/roboto-light-italic.woff') format('woff'), url('../assets/fonts/roboto-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../assets/fonts/roboto-regular.woff2') format('woff2'), url('../assets/fonts/roboto-regular.woff') format('woff'), url('../assets/fonts/roboto-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular Italic'), local('Roboto-RegularItalic'), url('../assets/fonts/roboto-regular-italic.woff2') format('woff2'), url('../assets/fonts/roboto-regular-italic.woff') format('woff'), url('../assets/fonts/roboto-regular-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/roboto-medium.woff2') format('woff2'), url('../assets/fonts/roboto-medium.woff') format('woff'), url('../assets/fonts/roboto-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../assets/fonts/roboto-medium-italic.woff2') format('woff2'), url('../assets/fonts/roboto-medium-italic.woff') format('woff'), url('../assets/fonts/roboto-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/roboto-bold.woff2') format('woff2'), url('../assets/fonts/roboto-bold.woff') format('woff'), url('../assets/fonts/roboto-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../assets/fonts/roboto-bold-italic.woff2') format('woff2'), url('../assets/fonts/roboto-bold-italic.woff') format('woff'), url('../assets/fonts/roboto-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('../assets/fonts/roboto-black.woff2') format('woff2'), url('../assets/fonts/roboto-black.woff') format('woff'), url('../assets/fonts/roboto-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../assets/fonts/roboto-black-italic.woff2') format('woff2'), url('../assets/fonts/roboto-black-italic.woff') format('woff'), url('../assets/fonts/roboto-black-italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Noto-Sans-Th';
  src: local('Noto-Sans-Th Thin'), local('Noto-Sans-Th-Thin'), url('../assets/fonts/noto-sans-th-thin.woff2') format('woff2'), url('../assets/fonts/noto-sans-th-thin.woff') format('woff'), url('../assets/fonts/noto-sans-th-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Th';
  src: local('Noto-Sans-Th Light'), local('Noto-Sans-Th-Light'), url('../assets/fonts/noto-sans-th-light.woff2') format('woff2'), url('../assets/fonts/noto-sans-th-light.woff') format('woff'), url('../assets/fonts/noto-sans-th-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Th';
  src: local('Noto-Sans-Th Regular'), local('Noto-Sans-Th-Regular'), url('../assets/fonts/noto-sans-th-regular.woff2') format('woff2'), url('../assets/fonts/noto-sans-th-regular.woff') format('woff'), url('../assets/fonts/noto-sans-th-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Th';
  src: local('Noto-Sans-Th Medium'), local('Noto-Sans-Th-Medium'), url('../assets/fonts/noto-sans-th-medium.woff2') format('woff2'), url('../assets/fonts/noto-sans-th-medium.woff') format('woff'), url('../assets/fonts/noto-sans-th-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Th';
  src: local('Noto-Sans-Th Bold'), local('Noto-Sans-Th-Bold'), url('../assets/fonts/noto-sans-th-bold.woff2') format('woff2'), url('../assets/fonts/noto-sans-th-bold.woff') format('woff'), url('../assets/fonts/noto-sans-th-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Th';
  src: local('Noto-Sans-Th Black'), local('Noto-Sans-Th-Black'), url('../assets/fonts/noto-sans-th-black.woff2') format('woff2'), url('../assets/fonts/noto-sans-th-black.woff') format('woff'), url('../assets/fonts/noto-sans-th-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto-Sans-Ja';
  src: local('Noto-Sans-Ja Thin'), local('Noto-Sans-Ja-Thin'), url('../assets/fonts/noto-sans-ja-thin.woff2') format('woff2'), url('../assets/fonts/noto-sans-ja-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Ja';
  src: local('Noto-Sans-Ja Light'), local('Noto-Sans-Ja-Light'), url('../assets/fonts/noto-sans-ja-light.woff2') format('woff2'), url('../assets/fonts/noto-sans-ja-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Ja';
  src: local('Noto-Sans-Ja Regular'), local('Noto-Sans-Ja-Regular'), url('../assets/fonts/noto-sans-ja-regular.woff2') format('woff2'), url('../assets/fonts/noto-sans-ja-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Ja';
  src: local('Noto-Sans-Ja Medium'), local('Noto-Sans-Ja-Medium'), url('../assets/fonts/noto-sans-ja-medium.woff2') format('woff2'), url('../assets/fonts/noto-sans-ja-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Ja';
  src: local('Noto-Sans-Ja Bold'), local('Noto-Sans-Ja-Bold'), url('../assets/fonts/noto-sans-ja-bold.woff2') format('woff2'), url('../assets/fonts/noto-sans-ja-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Ja';
  src: local('Noto-Sans-Ja Black'), local('Noto-Sans-Ja-Black'), url('../assets/fonts/noto-sans-ja-black.woff2') format('woff2'), url('../assets/fonts/noto-sans-ja-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto-Sans-Zh';
  src: local('Noto-Sans-Zh Thin'), local('Noto-Sans-Zh-Thin'), url('../assets/fonts/noto-sans-zh-thin.woff2') format('woff2'), url('../assets/fonts/noto-sans-zh-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Zh';
  src: local('Noto-Sans-Zh Light'), local('Noto-Sans-Zh-Light'), url('../assets/fonts/noto-sans-zh-light.woff2') format('woff2'), url('../assets/fonts/noto-sans-zh-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Zh';
  src: local('Noto-Sans-Zh Regular'), local('Noto-Sans-Zh-Regular'), url('../assets/fonts/noto-sans-zh-regular.woff2') format('woff2'), url('../assets/fonts/noto-sans-zh-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Zh';
  src: local('Noto-Sans-Zh Medium'), local('Noto-Sans-Zh-Medium'), url('../assets/fonts/noto-sans-zh-medium.woff2') format('woff2'), url('../assets/fonts/noto-sans-zh-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Zh';
  src: local('Noto-Sans-Zh Bold'), local('Noto-Sans-Zh-Bold'), url('../assets/fonts/noto-sans-zh-bold.woff2') format('woff2'), url('../assets/fonts/noto-sans-zh-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto-Sans-Zh';
  src: local('Noto-Sans-Zh Black'), local('Noto-Sans-Zh-Black'), url('../assets/fonts/noto-sans-zh-black.woff2') format('woff2'), url('../assets/fonts/noto-sans-zh-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}