@import 'normalize.css';
@import './fonts.css';

:root {
  --color-white: #fff;
  --color-basic50: #f8f9fb;
  --color-basic100: #edf0f4;
  --color-basic200: #dae1e9;
  --color-basic500: #9ba6b2;
  --color-disabled500: #999;
  --color-submit200: #bacaf4;
  --color-submit300: #5a81ea;
  --color-submit400: #1f5af6;
  --color-success400: #4aad02;
  --color-error400: #e5494d;
  --color-warning400: #e5be4d;
}

button,
label {
  cursor: pointer;
}
