@import './colors.styl';

// global icons

:global .copy-icon
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: url(../assets/img/copy-14-submit-400.svg) center no-repeat;

:global .password-icon
  background: url(../assets/img/password-14-basic-200.svg) center no-repeat;
  width: 14px;
  height: 14px;

:global .active-account-icon
  background: url(../assets/img/activeasset-18-submit-400.svg) center no-repeat;

:global .inactive-account-icon
  background: url(../assets/img/activeasset-18-basic-500.svg) center no-repeat;

:global .lock-icon
  background: url(../assets/img/lock-48-multy.svg) center no-repeat;

:global .signin-icon
  background: url(../assets/img/userimg-browsershare-80-submit-300.svg) right center no-repeat;

:global .import-icon
  background: url(../assets/img/waves-keeper-lock.svg) center no-repeat;

// langs

:global .selected-lang
  background: url(../assets/img/check-14-success-400.svg) right center no-repeat;

:global .flag-ru-icon
  background: url(../assets/img/flags/flag-18-rus.svg) right center no-repeat;

:global .flag-en-icon
  background: url(../assets/img/flags/flag-18-britain.svg) right center no-repeat;

:global .flag-ko-icon
  background: url(../assets/img/flags/flag-18-korea.svg) right center no-repeat;

:global .flag-zh-icon
  background: url(../assets/img/flags/flag-18-china.svg) right center no-repeat;

:global .flag-tr-icon
  background: url(../assets/img/flags/flag-18-turkey.svg) right center no-repeat;

:global .flag-hi-icon
  background: url(../assets/img/flags/flag-18-hindi.svg) right center no-repeat;

:global .flag-es-icon
  background: url(../assets/img/flags/flag-18-spain.svg) right center no-repeat;

:global .flag-pt-icon
  background: url(../assets/img/flags/flag-18-portugal.svg) right center no-repeat;

:global .flag-pl-icon
  background: url(../assets/img/flags/flag-18-poland.svg) right center no-repeat;

// transactions

:global .set-asset-script-transaction-icon
  background: url(../assets/img/transactions/t-setassetscript-48.svg) center no-repeat;

:global .authOrigin-transaction-icon,
:global .authOrigin-transaction-icon-small
  background: url(../assets/img/transactions/t-access-80.svg) center no-repeat;

:global .authOrigin-transaction-icon-small
  background-size: cover;

:global .transfer-transaction-icon
  background: url(../assets/img/transactions/t-send-48.svg) center no-repeat;

:global .create-alias-transaction-icon
  background: url(../assets/img/transactions/t-alias-48.svg) center no-repeat;

:global .issue-transaction-icon
  background: url(../assets/img/transactions/t-tokengen-48.svg) center no-repeat;

:global .updateAssetInfo-transaction-icon
  background: url(../assets/img/transactions/t-tokengen-48.svg) center no-repeat;

:global .reissue-transaction-icon
  background: url(../assets/img/transactions/t-tokenreis-48.svg) center no-repeat;

:global .burn-transaction-icon
  background: url(../assets/img/transactions/t-tokenburn-48.svg) center no-repeat;

:global .lease-transaction-icon
  background: url(../assets/img/transactions/t-startlease-48.svg) center no-repeat;

:global .cancel-leasing-transaction-icon
  background: url(../assets/img/transactions/t-closelease-48.svg) center no-repeat;

:global .create-order-transaction-icon
  background: url(../assets/img/transactions/t-exchange-48.svg) center no-repeat;

:global .cancel-order-transaction-icon
  background: url(../assets/img/transactions/t-closeorder-48.svg) center no-repeat;

:global .mass_transfer-transaction-icon
  background: url(../assets/img/transactions/t-masstransfer-48.svg) center no-repeat;

:global .data-transaction-icon
  background: url(../assets/img/transactions/t-data-48.svg) center no-repeat;

:global .sponsor_enable-transaction-icon
  background: url(../assets/img/transactions/t-sponsored-active-48.svg) center no-repeat;

:global .sponsor_disable-transaction-icon
  background: url(../assets/img/transactions/t-sponsor-disabled-48.svg) center no-repeat;

:global .set-script-transaction-icon
  background: url(../assets/img/transactions/t-setscript-48.svg) center no-repeat;

:global .transactionPackage-transaction-icon
  background: url(../assets/img/transactions/t-grouptrans-48.svg) center no-repeat;

:global .script_invocation-transaction-icon
  background: url(../assets/img/transactions/t-scriptinvocation-48.svg) center no-repeat;

:global .notification-transaction-icon
  background: url(../assets/img/transactions/t-grouptrans-48.svg) center no-repeat;

:global .coinomat_confirm-transaction-icon,
:global .coinomat_confirm-transaction-icon-small,
:global .matcher_orders-transaction-icon,
:global .matcher_orders-transaction-icon-small,
:global .auth-transaction-icon
:global .auth-transaction-icon-small
  background: url(../assets/img/userimg-browsershare-80-submit-300.svg) center no-repeat;
  background-size: cover;

:global .tx-approve-icon
  background: url(../assets/img/userimg-done-80.svg) center no-repeat;

:global .tx-error-icon
  background: url(../assets/img/userimg-browesrbad-80-error-500) center no-repeat;

:global .tx-reject-icon
  background: url(../assets/img/userimg-rejected-80.svg) center no-repeat;

:global .apple-store-btn,
:global .google-play-btn
  display: inline-block;
  width: 135px;
  height: 42px;
  cursor: pointer;

:global .apple-store-btn
  background: url(../assets/img/apple-store-icon.svg) center no-repeat;

:global .google-play-btn
  background: url(../assets/img/google-play-icon.svg) center no-repeat;

:global .networkIcon,
:global .networkIconActive
  width: 14px;
  height: 14px;
  display: inline-block;

:global .networkIcon
  background: url(../assets/img/network-14-basic-500.svg) left center no-repeat;

:global .networkIconActive
  background: url(../assets/img/network-14-black.svg) left center no-repeat;

:global .helpIcon
  cursor: pointer;
  width: 14px;
  height: 14px;
  display: block;
  background: url(../assets/img/question-sprite.svg) center top no-repeat;
  &:hover
    background: url(../assets/img/question-sprite.svg) center bottom no-repeat;

:global .walletIconBlack,
:global .transactionsIconBlack,
:global .copyIconBlack
  cursor: pointer;
  margin-right: 8px;
  &:hover
    background-color: $accent50;

:global .walletIconBlack
  background: url(../assets/img/gowallet-14-black.svg) 8px 5px no-repeat;

:global .transactionsIconBlack
  background: url(../assets/img/explorer-14-black.svg) 8px 5px no-repeat;

:global .showQrIcon
  background: url(../assets/img/qr-14-black.svg) no-repeat transparent;
  cursor: pointer;

:global .copyIconBlack
  background: url(../assets/img/copy-14-black.svg) no-repeat transparent;

:global .delete-icon
  background: url(../assets/img/delete-18-error-400.svg) center no-repeat;

:global .error-icon
  background: url(../assets/img/error-18.svg) left no-repeat;

