.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: var(--color-basic50);
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 14px 14px 6px;
}

.title {
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filterContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 14px 14px;
}

.searchInput input {
  padding: 0 24px;
  background-position: 0;
}

.filterContainer button {
  padding: 0;
}

.stickyBottomPanel {
  position: sticky;
  z-index: 1;
  bottom: 0;
  display: flex;
  gap: 14px;
  border-top: 1px solid #edf0f4;
  padding: 14px;
  background: #fff;
}
