.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: var(--color-basic50);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filterContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 14px 14px;
}

.searchInput {
  background-position: 0;
  padding: 0 24px;
}

.filterContainer button {
  width: auto;
}
