.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: var(--color-basic50);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 14px 24px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 24px 70px;
}

.cover {
  border-radius: 8px;
  max-height: 310px;
}

.links {
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  padding: 24px 0;
}

.stickyBottomPanel {
  position: sticky;
  display: flex;
  gap: 14px;
  z-index: 1;
  bottom: 0;
  border-top: 1px solid #edf0f4;
  padding: 14px;
  background: #fff;
}
