.avatarList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.avatarListItem {
  display: flex;
  border: 1px solid transparent;
  padding: 4px;
}

.avatarListItemSelected {
  border-color: var(--color-submit400);
  border-radius: 2px;
  background-color: rgba(31, 90, 246, 0.1);
}
