@import '../../../styles/colors.styl';

.avatar {
  display: inline-block;
  overflow: hidden;
  margin: auto;
  cursor: pointer;

  &.selected {
    background-color: rgba(31, 90, 246, 0.1);
    border-radius: 2px;
    border: 1px solid $submit400;
    padding: 4px;
  }

  img {
    border-radius: 50%;
    margin: 4px;
    width: 38px !important;
    height: 38px !important;
  }
}

.avatarList {
  display: flex;
  width: 100%;
  justify-content space-between;
  align-items: center;
}
