.amount {
  font-size: 14px;
  line-height: 17px;
}

.usdAmount {
  color: var(--color-basic500);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.usdAmountNote {
  color: var(--color-basic500);
  font-size: 10px;
}
