@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.assetScriptTransactionCard
  @extends .transaction-card

.assetScriptCard_collapsed
  .origin
    display: none;

.assetScriptTxIcon
  @extends .txIcon

.assetScriptTxScrollBox
  @extends .txScrollBox
  flex-grow: 0;

.cardContent
  padding-left: 0;

.origin
  padding-left: 58px;
