.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 329px;
  padding: 28px;
  background: var(--color-white);
  border-radius: 4px;
}
