.container {
  position: relative;
  width: 100%;
}

.ethereum .wrapper::before,
.waves .wrapper::before {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(-50%);
  content: '';
}

.ethereum .wrapper::before {
  width: 14px;
  height: 14px;
  background-image: url(../../../assets/img/ethereum.svg);
}

.waves .wrapper::before {
  width: 12px;
  height: 12px;
  background-image: url(../../../assets/img/waves.svg);
}

.ethereum .input,
.waves .input {
  padding-left: 32px;
}

.mirrorAddress {
  position: absolute;
  bottom: -21px;
  display: flex;
  align-items: center;
  padding: 2px;
  color: #c5d0de;
  font-size: 11px;
  line-height: 13px;
  background-color: var(--color-basic50);
  border-radius: 2px;
}

.mirrorAddress::before {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: '';
}

.ethereum .mirrorAddress::before {
  width: 8px;
  height: 8px;
  margin-right: 2px;
  background-image: url(../../../assets/img/waves.svg);
}

.waves .mirrorAddress::before {
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-image: url(../../../assets/img/ethereum.svg);
}

.error {
  position: absolute;
  bottom: -16px;
  margin: 0;
}

.ethereum .error,
.waves .error {
  bottom: -36px;
}
