.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mark {
  background-color: transparent;
  color: #ffaf00;
}

.recipientWrapper {
  max-width: calc(100% - 20px);
  overflow: hidden;
}

.recipient {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 12px;
  line-height: 14px;
}

.ethereum.mirrorAddress,
.waves.mirrorAddress {
  display: flex;
  align-items: center;
  padding: 8px;
}

.recipient::before,
.mirrorAddress::before {
  display: block;
  content: '';
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ethereum.recipient::before,
.waves.mirrorAddress::before {
  margin-right: 5px;
  width: 14px;
  height: 14px;
  background-image: url(../../../assets/img/ethereum.svg);
}

.waves.recipient::before,
.ehereum.mirrorAddress::before {
  margin-right: 5px;
  width: 12px;
  height: 12px;
  background-image: url(../../../assets/img/waves.svg);
}

.addButtonIcon {
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
  background-image: url(../../../assets/img/add-user.svg);
  background-size: cover;
  cursor: pointer;
}

.name {
  margin-right: 8px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.warningAlias {
  margin-top: 4px;
  border: 1px dashed #ffaf00;
  padding: 12px 14px;
  border-radius: 2px;
  color: #9ba6b2;
  font-size: 11px;
}
