.suggest {
  position: absolute;
  top: 41px;
  right: 0;
  left: 0;
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgb(155, 166, 178, 0.4);
}

.title {
  padding: 8px 14px 0;
  color: #c5d0de;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  padding: 10px 14px;
  cursor: pointer;
}

.item:hover {
  background-color: var(--color-basic50);
}

.name {
  margin-right: 8px;
  font-size: 14px;
  line-height: 17px;
  word-break: break-all;
}

.tooltip {
  position: absolute;
  top: 12px;
  right: 44px;
  cursor: default;
}

.buttonIcon {
  width: 18px;
  height: 18px;
  margin-left: 14px;
  background-color: var(--color-white);
  background-image: url(../../../assets/img/search-user.svg);
  background-size: cover;
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 284px;
  padding: 24px 0 0;
  background: var(--color-white);
  border-radius: 2px;
}

.modalTitle {
  margin-bottom: 14px;
  text-align: center;
}

.modalSearchInput {
  margin: 0 24px 8px;
}

.modalSuggest {
  position: static;
}

.highlight {
  position: absolute;
  left: 15px;
  color: #ffaf00;
  font-weight: 500;
  font-size: 14px;
  pointer-events: none;
}

.warningAlias {
  margin-top: 4px;
  padding: 12px 14px;
  color: #9ba6b2;
  font-size: 11px;
  border: 1px dashed #ffaf00;
  border-radius: 2px;
}
