:global .slide-left-enter
  animation-name: slide-left-show;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  position: absolute;
  top: 0;
  left: 0;

:global .slide-left-leave
  animation-name: slide-left-hide;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  z-index: 10000;


@keyframes :global(slide-left-show)
  0%
    opacity: 1;
    transform: translate(-200%, 0);

  100%
    opacity: 1;
    transform: translate(0, 0);

@keyframes :global(slide-left-hide)
  0%
    transform: translate(0, 0);

  100%
    transform: translate(200%, 0);


:global .slide-right-enter
  animation-name: slide-right-show;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  position: absolute;

:global .slide-right-leave
  animation-name: slide-right-hide;
  animation-duration: 0.6s;
  animation-fill-mode: both;

@keyframes :global(slide-right-show)
  0%
    opacity: 1;
    transform: translate(0, 100%);

  100%
    opacity: 1;
    transform: translate(0, 0);

@keyframes :global(slide-right-hide)
  0%
    opacity: 1;

  100%
    opacity: 1;



:global .slide-top-enter
  animation-name: slide-top-show;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  position: absolute;

:global .slide-top-leave
  animation-name: slide-top-hide;
  animation-duration: 0.6s;
  animation-fill-mode: both;

@keyframes :global(slide-top-show)
  0%
    opacity: 1;
    transform: translate(-100%, 0);

  100%
    opacity: 1;
    transform: translate(0, 0);

@keyframes :global(slide-top-hide)
  0%
    opacity: 1;

  100%
    opacity: 1;



:global .slide-down-enter
  animation-name: slide-down-show;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  position: absolute;
  z-index: 1000;

:global .slide-down-leave
  animation-name: slide-down-hide;
  animation-duration: 0.6s;
  animation-fill-mode: both;

@keyframes :global(slide-down-show)
  0%
    opacity: 1;
    transform: translate(100%, 0);

  100%
    opacity: 1;
    transform: translate(0, 0);

@keyframes :global(slide-down-hide)
  0%
    opacity: 1;

  100%
    opacity: 1;



:global .fade-in-enter
  animation-name: fade-in-show;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  position: absolute;
  z-index: 1000;

:global .fade-in-leave
  animation-name: fade-in-hide;
  animation-duration: 0.6s;
  animation-fill-mode: both;

@keyframes :global(fade-in-show)
  0%
    opacity: 0;

  100%
    opacity: 1;

@keyframes :global(fade-in-hide)
  0%
    opacity: 1;

  100%
    opacity: 1;



:global .fade-out-enter
  animation-name: fade-out-show;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  position: absolute;

:global .fade-out-leave
  animation-name: fade-out-hide;
  animation-duration: 0.6s;
  animation-fill-mode: both;

@keyframes :global(fade-out-show)
  0%
    opacity: 0;

  100%
    opacity: 1;

@keyframes :global(fade-out-hide)
  0%
    opacity: 1;

  100%
    opacity: 1;
