@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.leaseTransactionCard
  @extends .transaction-card

.leaseCard_collapsed
  .origin
    display: none;

.leaseTxIcon
  @extends .txIcon

.leaseTxScrollBox
  @extends .txScrollBox
