.lockIcon
  display: block;
  margin: 0 auto 24px;
  width: 48px;
  height: 48px;

.attention
  margin-bottom: 16px;

.encrypt
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

.encryptTitle
  color: var(--color-basic500);
