.root {
  position: relative;
  margin: 84px 60px 0;
  height: calc(100% - 180px);
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
}

.instructions {
  margin: 20px 0;
  font-size: 14px;
  color: #999;
}

.error {
  margin: 10px 0;
}

.loader {
  height: 200px;
  background: url(../../../assets/img/loader.gif) center no-repeat;
  background-size: 100px;
}

.avatarList {
  margin: 20px 0;
}

.address {
  margin: 0 -64px 40px;
}
