.root {
  position: relative;
  margin-top: 84px;
  height: calc(100% - 180px);
}

.container {
  margin: 0 58px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
}

.instructions {
  margin: 20px 0;
  color: #999;
  font-size: 14px;
}

.error {
  margin: 10px 0;
}

.errorRetryButton {
  background: none;
  color: var(--color-submit400);
  font: inherit;
  cursor: pointer;
}

.loader {
  height: 200px;
  background: url(../../../assets/img/loader.gif) center no-repeat;
  background-size: 100px;
}

.avatarList {
  position: relative;
  margin: 20px 0;
  display: flex;
  align-items: center;
  min-height: 72px;
}

.avatarListArrow {
  position: absolute;
  top: 50%;
  background: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.avatarListArrowLeft {
  left: -30px;
}

.avatarListArrowRight {
  right: -30px;
}

.avatarListArrowSvg {
  fill: #dae1e9;
}

.avatarListArrow:not(:disabled):hover .avatarListArrowSvg {
  fill: #000;
}

.avatarListArrowSvgLeft {
  transform: scaleX(-1);
}

.address {
  margin-bottom: 40px;
}
