@import '../../styles/colors.styl';

:global .logo
  width: 100%;
  height: 48px;
  border-bottom: $basic100 1px solid;
  text-align: center;
  background-image:  url(../../assets/img/keeper-wallet.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 104px 68px;

.bigLogo
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

.bigLogoImg
  background-image:  url(../../assets/img/keeper-wallet.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  text-align: center;
  width: 156px;

.bigLogoTitle
   margin-top: 10px;
   font-weight: 400;
   font-size: 12px;
