@import '../../styles/colors.styl';

:global .logo {
  width: 100%;
  height: 48px;
  border-bottom: $basic100 1px solid;
  text-align: center;
  background-image:  url(../../assets/img/waveskeeper-16.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 102px 16px;
}

.bigLogo {
  width: 100%;
  position: relative;
}

.bigLogoImg {
  text-align: center;
  background-image:  url(../../assets/img/waveskeeper-16.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 178px 28px;
  width: 100%;
  height: 28px;
}

.bigLogoTitle {
   margin-top: 10px;
}
