.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.searchInputWrapper {
  flex-grow: 1;
}

.searchInput {
  border: none;
  border-bottom: solid 1px var(--color-basic500);
  padding: 0 32px;
  height: 32px;
  border-radius: unset;
  background: url(../../../assets/img/search-14-basic200.svg) no-repeat scroll
    8px;
}

.searchInput:hover {
  border: none;
  border-bottom: solid 1px var(--color-basic500);
}

.searchInput:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-submit400);
}

.searchClear {
  position: absolute;
  right: 0;
  padding: 0 9px;
  height: 32px;
  background: none;
  color: var(--color-basic200);
}

.searchClear:hover {
  color: var(--color-basic500);
}
