@import '../../../styles/colors.styl';

.pill
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    background-color: transparent;
    color: transparent;
    margin: 0 4px 8px;
    padding: 0 12px;
    transition all 0.3s;
    height: 30px;
    cursur: pointer;

    &.selectedPill
        border-radius: 2px;

        &.hiddenPill
        .text
            background-color: $submit400;
            color: $white;
            box-shadow: none;

    &.hiddenPill
        background-color: transparent;
        opacity: 0;
        div
            opacity: 0;
            transform: scale3d(0.01, 0.01, 1);

    .text
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 1;
        transform: scale3d(1, 1, 1);
        text-align: center;
        transition: transform 0.2s linear, opacity 0.2s linear;
        background-color: $white;
        color: $black;
        cursor: pointer;
        border-radius: 2px;
        height: 30px;
        line-height: 30px;
        box-shadow: 0 2px 4px 0 #9ba6b266;

:global .animated-enter
    :local .text
            opacity: 0;
            transform: scale3d(0.01, 0.01, 1);

:global .animated-enter.animated-enter-active
    :local .text
        opacity: 1;
        transform: scale3d(1, 1, 1);
        transition: transform 0.2s linear, opacity 0.2s linear;

:global .animated-exit
    :local .text
        opacity: 1;
        transform: scale3d(1, 1, 1);

:global .animated-exit.animated-exit-active
    :local .text
        opacity: 0;
        transform: scale3d(0.01, 0.01, 0.01);
        transition: transform 0.2s linear, opacity 0.2s linear;

.pills
    display: block;
