@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.transferTransactionCard
  @extends .transaction-card

.transferCardCollapsed
  .origin
    display: none;

.transferTxIcon
  @extends .txIcon

.transferTxScrollBox
  @extends .txScrollBox
