@import '../../styles/colors.styl';

.settingsIcon,
.navigationIcon,
.arrowBackIcon,
.closeIcon
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  cursor: pointer;
  border-radius: 4px;
  &:hover
    background-color: $basic100;

.settingsIcon
  right: 8px;
  z-index: 1;
  background: url(../../assets/img/setting-18-black.svg) center no-repeat;

.navigationIcon
  left: 8px;
  z-index: 1;
  background: url(../../assets/img/menu-18-black.svg) center no-repeat;

.arrowBackIcon
  left: 8px;
  background: url(../../assets/img/back-18-black.svg) center no-repeat;

.closeIcon
  right: 8px;
  background: url(../../assets/img/close-18-black.svg) center no-repeat;
