.settingsIcon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 17px;
  right: 11px;
  z-index: 1;
  background: url(../../assets/img/setting-18-black.svg) center no-repeat;
}

.navigationIcon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 11px;
  top: 17px;
  z-index: 1;
  background: url(../../assets/img/menu-18-black.svg) center no-repeat;
}

.deleteIcon {
  display: block;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 17px;
  right: 11px;
  background: url(../../assets/img/delete-18-error-400.svg) center no-repeat;
}

.arrowBackIcon {
  display: block;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 17px;
  left: 11px;
  background: url(../../assets/img/back-18-black.svg) center no-repeat;
}
