.settingsBtn {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 17px;
  right: 11px;
  z-index: 1;
  background: url(../../assets/img/setting-18-black.svg) center no-repeat;
}

.navigationBtn {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 11px;
  top: 17px;
  z-index: 1;
  background: url(../../assets/img/menu-18-black.svg) center no-repeat;
}
