@import '../../../styles/colors.styl';

svg
 &.approveProgress
  position: absolute;
  width: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

.svgWrapper
  position: relative;

.hideText[disabled]
 font-size: 0;
