@import '../../../styles/colors.styl';

:global .buttons-wrapper
  display: flex;
  align-items: center;
  justify-content: space-between;

  button
    flex-basis: calc(50% - 7px);

.button
  cursor: pointer;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 300;

  &:not(.transparent)
    transition: all .3s;
    white-space: nowrap;
    display: block;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    max-width: 240px;
    height: 40px;

  &.default
    background-color: $white;
    border: 1px solid $basic200;
    color: $black;
    font-weight: 300;

    &:hover
      border: 1px solid $black;

  &:focus
    outline: none;

  &.submit
    background-color: $submit400;
    color: $white;

    &:hover
      background-color: $submit300;

    &.disabled,
    &:disabled,
    &[disabled]
      background-color: $submit200;
      cursor: default;

      &:hover
        background-color: $submit200;

  &.icon
    width: auto;
    display: inline-block;
    padding: 0 16px 0 36px;

  &.transparent
    background-color: transparent;

    &.disabled
      background-color: transparent;

    &:hover
      background-color: transparent;
      text-decoration: none;

    &.fullwidth
      width: 100%;

    &.body1
      font-size: 14px;

  &.warning
    background-color: $error400;
    color: $white;
    font-weight: 300;

    &:hover
      background-color: $error300;

  &.interface
    background-color: $white;
    height: 32px;
    line-height: 32px;
    padding: 0 14px 0 40px;
    box-shadow: 0 2px 4px 0 #9ba6b266;
    font-weight: 400;
    width: auto;
    margin: 0;
    border: 0.5px solid transparent;
    flex-basis: auto;

    &:not(:last-child)
      margin-right: 14px;

    &:hover
      box-shadow: 0 4px 6px 0 #9ba6b266;

    &.disabled,
    &:disabled,
    &[disabled]
      background-color: transparent;
      border: 0.5px solid $basic200;
      box-shadow: none;
