:global .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:global .buttons-wrapper > button,
:global .buttons-wrapper .buttons-group {
  flex-basis: calc(50% - 7px);
}

:global .buttons-group button:not(.transparent):not(.custom) {
  border-radius: 0;
}

:global .buttons-group button:not(.transparent):not(.custom):first-child {
  border-radius: 4px 0 0 4px;
}

:global .buttons-group button:not(.transparent):not(.custom):last-child {
  border-radius: 0 4px 4px 0;
}

:global button.modal-close {
  padding: 0;
}

.button {
  padding: 0 20px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom {
  width: auto;
  height: auto;
  border-radius: 0;
  text-align: inherit;
  text-decoration: none;
  white-space: normal;
}

.defaultView {
  border: 1px solid #dae1e9;
  background-color: #fff;
  color: #000000;
  font-weight: 300;
}

.defaultView:not(:disabled):hover {
  border: 1px solid #000000;
}

.submit,
.submitTiny {
  background-color: #1f5af6;
  color: #fff;
}

.submitTiny {
  width: auto;
  height: 32px;
  text-align: inherit;
}

.submit:not(:disabled):hover,
.submitTiny:not(:disabled):hover {
  background-color: #5a81ea;
}

.submit:disabled,
.submitTiny:disabled {
  background-color: #bacaf4;
}

.icon {
  padding: 0 16px 0 36px;
  display: inline-block;
  width: auto;
}

.transparent {
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  text-align: inherit;
  white-space: normal;
}

.transparent:not(:disabled):hover {
  background-color: transparent;
  text-decoration: none;
}

.warning {
  background-color: #e5494d;
  color: #fff;
  font-weight: 300;
}

.warning:not(:disabled):hover {
  background-color: #e5494dcc;
}

.warning:disabled {
  opacity: 0.5;
}

.loading {
  position: relative;
  color: transparent;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
