@import '../../../styles/colors.styl';

.buttons-wrapper
    display: flex;
    align-items: center;
    justify-content: space-between;

.button
    width: 236px;
    height: 40px;
    display: block;
    border-radius: 4px;
    font-family: Roboto-Medium;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 auto;

.submit
    background-color: $submit400;
    color: $white;

    &.disabled
        background-color: $submit200;
        cursor: default;

    &:hover
        background: $submit300;
