:global .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:global .buttons-wrapper > button,
:global .buttons-wrapper .buttons-group {
  flex-basis: calc(50% - 7px);
}

:global .buttons-group button:not(.transparent):not(.custom) {
  border-radius: 0;
}

:global .buttons-group button:not(.transparent):not(.custom):first-child {
  border-radius: 4px 0 0 4px;
}

:global .buttons-group button:not(.transparent):not(.custom):last-child {
  border-radius: 0 4px 4px 0;
}

:global button.modal-close {
  padding: 0;
}

.button {
  padding: 0 20px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.custom {
  width: auto;
  height: auto;
  border-radius: 0;
  text-align: inherit;
  text-decoration: none;
  white-space: normal;
  transition: none;
}

.defaultView {
  border: 1px solid #dae1e9;
  background-color: #ffffff;
  color: #000000;
  font-weight: 300;
}

.defaultView:hover {
  border: 1px solid #000000;
}

.submit,
.submitTiny {
  background-color: #1f5af6;
  color: #ffffff;
}

.submitTiny {
  width: auto;
  height: auto;
  text-align: inherit;
}

.submit:hover,
.submitTiny:hover {
  background-color: #5a81ea;
}

.submit.disabled,
.submitTiny.disabled,
.submit:disabled,
.submitTiny:disabled,
.submit[disabled],
.submitTiny[disabled] {
  background-color: #bacaf4;
  cursor: default;
}

.submit.disabled:hover,
.submitTiny.disabled:hover,
.submit:disabled:hover,
.submitTiny:disabled:hover,
.submit[disabled]:hover,
.submitTiny[disabled]:hover {
  background-color: #bacaf4;
}

.submitTiny {
  height: 32px;
}

.icon {
  display: inline-block;
  padding: 0 16px 0 36px;
  width: auto;
}

.transparent {
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  text-align: inherit;
  white-space: normal;
  transition: none;
}

.transparent:hover {
  background-color: transparent;
  text-decoration: none;
}

.transparent.disabled {
  background-color: transparent;
}

.transparent.fullwidth {
  width: 100%;
}

.transparent.body1 {
  font-size: 14px;
}

.warning {
  background-color: #e5494d;
  color: #ffffff;
  font-weight: 300;
}

.warning:hover {
  background-color: #e5494dcc;
}

.warning.disabled,
.warning:disabled,
.warning[disabled] {
  cursor: default;
  opacity: 0.5;
}

.warning.disabled:hover,
.warning:disabled:hover,
.warning[disabled]:hover {
  opacity: 0.5;
}

.danger {
  background-color: #e53935;
  color: #ffffff;
  font-weight: 300;
}

.danger:hover {
  background-color: #e5494dcc;
}

.interfaced {
  flex-basis: auto;
  margin: 0;
  border: 0.5px solid transparent;
  padding: 0 14px;
  width: auto;
  height: 32px;
  box-shadow: 0 2px 4px 0 #9ba6b266;
  background-color: #ffffff;
  font-weight: 400;
  line-height: 32px;
}

.interfaced:not(:last-child) {
  margin-right: 14px;
}

.interfaced:hover {
  box-shadow: 0 4px 6px 0 #9ba6b266;
}

.interfaced.disabled,
.interfaced:disabled,
.interfaced[disabled] {
  border: 0.5px solid #dae1e9;
  box-shadow: none;
  background-color: transparent;
}

.loading {
  position: relative;
  color: transparent;
}

.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  margin-top: -8px;
  margin-left: -8px;
  border: 2px solid #edf0f4;
  border-right-color: #1f5af6;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: rotate-spinner 0.6s linear infinite;
}

@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
