.powerBtn {
  width: 14px;
  height: 14px;
  background: url(../../../assets/img/permission-disabled-14-basic-200.svg) center no-repeat;
}

.powerBtnOn {
  width: 14px;
  height: 14px;
  background: url(../../../assets/img/permission-enabled-14-submit-400.svg) center no-repeat;
}
