.powerBtn {
  width: 14px;
  height: 14px;
  background: url(../../../assets/img/permission-disabled-14-basic-200.svg) center no-repeat;
  margin-right: 10px;
  margin-top: 7px;
  outline: none;
  cursor: pointer;
}

.powerBtnOn {
  width: 14px;
  height: 14px;
  background: url(../../../assets/img/permission-enabled-14-submit-400.svg) center no-repeat;
}
