.root
  display: flex
  flex-direction: column
  padding: 40px 24px

.title
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

.description
  color: #9BA6B2;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding: 20px 0;
