@import '../../../styles/colors.styl';

.content
  padding: 24px;
  height: 100%;
  max-height: calc(100% - 48px);
  width: 100%;
  display: flex;
  flex-direction column;
  margin: auto;
  overflow: auto;
  background-color: $basic50;

.header
  position: relative;
  margin-bottom: 24px;
  border-bottom: 1px solid #e9e9eb;
  padding-bottom: 24px;

.accountName
  height: 20px;
  text-align: left;
  margin-bottom: 2px;
  display: inline-block;
  max-width: 243px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  border-radius: 0;
  width: auto;
  padding-right: 20px;

  span
    display: inline-block;
    border-bottom: 1px dotted $basic500;

  .editIcon
    background: url(../../../assets/img/edit-14-basic-500.svg) right center no-repeat $basic50;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 0 -2px 5px;

  &:hover
    span
      border-bottom: 1px dotted $black;
      color: $black;

    i.editIcon
      background-image: url(../../../assets/img/edit-14-black.svg);

.balance
  font-weight: 500;
  margin-top: 5px;

.reservedBalance
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $basic100;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  padding: 0 14px;

.avatar
  margin: 0 14px 0 0;
  cursor: default;

.wallet
  width: 100%;
  display: flex;
  position: relative;

.accountData
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  div
    flex-basis: 100%;

.accountInfoFooter
  font-size: 11px;
  padding: 24px 0 0;
  border-top: 1px solid $accent50;
  text-align: center;

  .deleteButton
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;

    &:hover
      .deleteIcon
        background-color: $basic100;

  .deleteIcon
    width: 24px;
    height: 24px;
    margin: 0 auto;
    display: block;
    margin-bottom: 6px;
    border-radius: 2px;

.lockIcon
  width: 48px;
  height: 48px;
  margin: 0 auto 24px auto;
  display: block;

.ellipsis div
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 260px;
