@import '../../../styles/colors.styl';

.content
  padding: 24px 14px 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: auto;
  background-color: $basic50;

.accountName
  height: 20px;
  text-align: left;
  margin-bottom: 2px;
  display: inline-block;
  max-width: 243px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  border-radius: 0;
  width: auto;
  padding-right: 20px;

  span
    border-bottom: 1px dotted $basic500;

  .editIcon
    background: url(../../../assets/img/edit-14-basic-500.svg) right center no-repeat $basic50;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 0 -2px 5px;

  &:hover
    span
      border-bottom: 1px dotted $black;
      color: $black;

    i.editIcon
      background-image: url(../../../assets/img/edit-14-black.svg);

.balance
  font-weight: 500;
  margin-top: 5px;

.avatar
  margin: 0 14px 0 0;
  min-width: 56px;
  cursor: default;

.wallet
  width: 100%;
  display: flex;
  position: relative;

.accountData
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  div
    flex-basis: 100%;

.buttonsWrapper
  border-bottom: 1px dashed $basic200;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 24px;

.activeAccount
  background: url(../../../assets/img/activeasset-18-submit-400.svg) 14px center no-repeat;

.inActiveAccount
  background: url(../../../assets/img/activeasset-18-basic-500.svg) 14px center no-repeat;

.showQrIcon
  background: url(../../../assets/img/qr-14-basic-500.svg) 14px center no-repeat;

.lockIcon
  width: 48px;
  height: 48px;
  margin: 0 auto 24px auto;
  display: block;

.enterPasswordModal
  display: block;
  width: 280px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background: $white;
  height: auto;
  padding: 24px;
  z-index: 100;
  box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

.ellipsis div
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 280px;
