.root
  display: flex
  flex-direction: column
  padding: 0 48px

.iconContainer
  position: relative
  margin: 0 auto

.shadeBg
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 0
  pointer-events: none

.topIcon
  position: relative
  z-index: 1
  margin: 0 auto

.title
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

.description
  color: #9BA6B2;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding: 8px 0 12px 0;

.multichainButton
  margin-bottom: 32px;
