@import '../../../styles/colors.styl';

.assets
  width: 100%;
  position: relative;
  padding: 14px;
  height: 552px;
  background: $basic50;
  padding-bottom: 30px;

  &::after
    display: block;
    content: '';
    width: 100%;
    height: 112px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: -moz-linear-gradient(left, #6b94ff 0%, #1f5af6 100%);
    background: -webkit-linear-gradient(left, #6b94ff 0%, #1f5af6 100%);
    background: linear-gradient(to right, #6b94ff 0%, #1f5af6 100%);

:global .in-storage
  height: 44px;
  display: flex;
  align-items: center;

:global .lock-scroll
  &.wallets-list
    padding-top: 60px;

  .in-storage
    position: fixed;
    top: 196px;
    width: 100%;
    background: $basic50;
    z-index: 2;
    left: 14px;
    padding: 0;
    height: 44px;

.walletListWrapper
  overflow: hidden;

.addAccount
  display: flex;
  justify-content: center;
  padding: 0 14px 0 34px;
  white-space: nowrap;
  height: 32px;
  width: 148px;
  margin: 14px auto 27px auto;
  line-height: 32px;
  cursor: pointer;
  border-radius: 4px;
  background: url(../../../assets/img/add-14-basic-500.svg) 13px center no-repeat;

  &:hover
    background-color: $basic100;

  i
    margin-right: 10px;

.logoMargin
  margin-top: 100px;
  margin-bottom: 44px;

:global .wallets-list
  overflow: auto;
  max-height: 368px;
  margin-right: -14px;
  padding-right: 14px;
  position: relative;
  padding-top: 15px;

:global .animate_wallets-enter
  animation-name: animation-show;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  
:global .animate_wallets-leave
  animation-name: animation-hide;
  animation-duration: 0.6s;
  animation-fill-mode: both;


@keyframes :global(animation-show)
  0%
    opacity: 0;
    height: 0;
    padding: 0;
    margin-bottom: 0;

  100%
    height: 64px;
    padding: 14px;
    opacity: 1;
    margin-bottom: 8px;

@keyframes :global(animation-hide)
  0%
    height: 64px;
    padding: 14px;
    opacity: 1;
    margin-bottom: 8px;

  100%
    opacity: 0;
    padding: 0;
    height: 0;
    margin-bottom: 0;
