.content
  display: block;
  position: relative;
  width: 240px;
  margin: 40px 60px;
  height: calc(100% - 180px);

  button {
    position: absolute;
    bottom: 0;
  }

  .flex {
    div:first-child {
      flex-basis: 85%;
    }
  }

.bottomText {
  position: absolute;
  top: calc(100% + 14px);
}

.copyIcon {
  margin-left: 30px;
}
