.content
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 0 60px;
  position: relative;

  .flex
    div:first-child
      flex-basis: 85%;

.copyIcon
  margin-left: 20px;
  min-width: 24px;
  height: 24px;

.plateMargin
  font-weight: 400;
  line-height: 2em;
  margin: 0 -60px 24px;
  padding: 14px 24px;

.bottomText
  margin-top: 24px;
