.content
  display: block;
  position: relative;
  margin: 84px 60px 0 60px;
  height: calc(100% - 244px);

  button {
    position: absolute;
    bottom: 0;
  }

  .flex {
    div:first-child {
      flex-basis: 85%;
    }
  }

.bottomText {
  position: absolute;
  top: calc(100% + 14px);
  width: 100%;
}

.copyIcon {
  margin-left: 20px;
  min-width: 24px;
  height: 24px;
}
