@import '../../../styles/colors.styl';

.conditions
  width: 100%;
  height: 100%;
  position: relative;


.title
  text-transform: uppercase;
  padding-bottom: 10px;


.contentWrapper
  height: calc(100% - 40px);


.attention
  margin-top: 10px;
  margin-bottom: 20px;


.mark
  margin-top: 10px;


