@import '../../../styles/colors.styl'

.content
  display: block;
  position: relative;
  margin: 84px 0;
  font-weight: 400;

  h2
    width: 240px;
    margin: 0 60px 20px;

.readSeed
  width: 100%;
  text-align: center;
  margin: 0 0 24px;
  padding-bottom: 8px;
  min-height: 164px;

.writeSeed
  width: 100%;
  height: 164px;
  padding: 26px;
  text-align: center;
  font-size: 12px;

.clearSeed
  position: absolute;
  bottom: 46px;
  text-align: center;
  width: 100%;

.noMargin
  margin: 0;

.confirm
  margin: -80px auto 0 auto;
  position: relative;
