@import './../../../styles/colors.styl';

.content
  margin: 163px 60px 0;
  font-weight: 400;

.tryAgain
  background: url(../../../assets/img/arrow-left-14-basic-200.svg) left center no-repeat;
  padding-left: 22px;
  color: $black;

.buttonMargin
  margin: 80px auto 44px auto;
