@import './../../../styles/colors.styl';

.root
  margin: 14px auto 0;
  width: 240px;

.importIcon
  display: block;
  margin: auto;

.separator
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;

  &:before,
  &:after
    content: "";
    flex: 1 1 0;
    border-bottom: 1px solid $accent50;

.importButtonsItem
  display: flex;
  padding: 14px 0;

  &:first-child
    padding-top: 0;

  &:not(:last-child)
    border-bottom: 1px solid $accent50;

  button
    background: url(../../../assets/img/arrow-right-14-basic-200.svg) right center no-repeat;
    text-align: left;

    &:not(:disabled):hover
      color: $submit300;

.importButton {
  display: flex;
  flex-grow: 1;
  justify-content: left;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.importButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.importButtonIcon {
  width: 25px;
  height: 28px;
}

.importButtonNote {
  color: var(--color-basic500);
  font-size: 12px;
}

.importButtonBadge {
  background-color: var(--color-basic500);
  border-radius: 1em;
  padding: 0 8px;
  height: 18px;
  line-height 18px;
  font-size: 12px;
  color: var(--color-basic100);
}