.content
  margin: 114px 60px 0;

.logoLeft
  div
    background-position: left center;

.social
  margin: 128px 0 84px 0;

  ul
    display: flex;
    width: 196px;
    justify-content: space-between;

  li
    width: 28px;
    height: 28px;
    a
      display:block;
      width: 28px;
      height: 28px;
      transition: .3s;

      &:hover
        opacity: .3;

    &.github a
      background: url(../../../assets/img/social/s-github-28.svg) center no-repeat;

    &.twitter a
      background: url(../../../assets/img/social/s-twitter-28.svg) center no-repeat;

    &.discord a
      background: url(../../../assets/img/social/s-discord-28.svg) center no-repeat;

    &.telegram a
      background: url(../../../assets/img/social/s-telegram-28.svg) center no-repeat;

    &.facebook a
      background: url(../../../assets/img/social/s-facebook-28.svg) center no-repeat;

    &.reddit a
      background: url(../../../assets/img/social/s-reddit-28.svg) center no-repeat;
