@import './../../../styles/colors.styl';

.intro
  width: 100%;
  height: 100%;
  position: relative;
  margin: 164px auto 0 auto;

  .loader
    position: fixed;
    height: 28px;
    width: 28px;
    top: 370px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg); //temp rotate()
    background: $submit400; //temp background
    // background: url(../../../assets/img/loader.gif) center no-repeat;
