@import './../../../styles/colors.styl';

.content
  width: 100%;
  position: relative;
  padding: 64px 60px 0 60px;

.lang
  width: 100%;
  height: 44px;
  border-bottom: 1px solid $accent50;
  display: flex;
  position: relative;

  &.selected
    button
      color: $disabled200;

.flagIcon
  height: 44px;
  width: 18px;
  position: absolute;
  right: 0;
  top: 0;

.selectButton
  display: flex;
  height: 44px;
  font-family Roboto;
