.login {
  width: 100%;
  position: relative;
}

.logoMargin {
  margin-top: 100px;
  margin-bottom: 44px;
}

.forgotPasswordLink {

}

.label {
  margin-bottom: 7px;
}

.content
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  height: 60%;
  width: 240px;
  margin: auto;