@import '../../../styles/colors.styl';

.content {
  height: 100%;
  margin: 0 60px 0 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logoMargin {
  margin-top: 164px;
  margin-bottom: 44px;
}

.label {
  margin-bottom: 7px;
}

.forgotLnk {
  background: url(../../../assets/img/arrow-left-14-basic-200.svg) right center no-repeat;
  padding-right: 22px;
  float: right;
  color: $black;
}
