@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.messageList
  position: relative;
  height: 100%;
  background: $basic50;

  &Inner
    height: calc(100% - 48px);

    .messageListScrollBox
      max-height: 436px;

  .walletWrapper
    padding: 14px 14px 0;
    position: absolute;
    bottom: 0;
    width: 100%;

  .notificationButtons
    position: fixed;
    bottom: 58px;
    left: 0;
    padding: 8px 14px 10px;
    width: 100%;
    background: $white;


    .buttonsSeparator {
      min-width:14px;
      flex-basis: 14px;
    }

    button
      width: 100%;
      flex-basis: 100%;
      min-width: 156px;

  &ScrollBox
    @extends .txScrollBox
    max-height: 494px;
    height: 100%;
    padding: 24px 14px;

  .cardContent
    margin: 0;

  &Header
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    margin: 0 -14px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $basic100;
    background: $white;

  &Title
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 400;

  .btnDivider
    min-width: 14px;

  &Counter
    background: $submit400;
    color: $white;
    height: 20px;
    min-width: 20px;
    padding: 0 6px;
    margin-right: 8px;
    text-align: center;
    line-height: 20px;
    display: block;
    border-radius: 10px;

  .cardItem
    margin-top: 8px;
    cursor: pointer;

    & > div:not(:first-child)
      display: none;

  .clearAllBtn
    padding: 4px 6px;
    background: $basic100;
    border-radius: 4px;
    font-size: 12px;
    &:hover
      background: $basic100;

  .allowNotification
    margin: 0 10px;

  .timestamp
    margin: 14px 10px;
    padding: 10px 0;
    border-bottom: 1px dashed $basic200;

  .messageItemInner
    background: $white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #9ba6b266;
    padding: 10px;
    flex-wrap: wrap;

    .messageText
      display: block;
      word-break: break-word;

  .messageIcon
    background: url(../../../assets/img/t-message-48.svg) center no-repeat;
    width: 48px;
    height: 48px;
    margin-right: 8px;

  .messageTitle
    flex-grow: 1;
