@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.messageList
  height: 100%;
  background: $basic50;

  &ScrollBox
    @extends .txScrollBox
    max-height: 495px;
    height: 495px;
    padding-top: 24px;
    padding-bottom: 24px;

  .cardContent
    margin: 0;

  .txWallet
    margin: 0;
    width: 100%;

  &Header
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $basic100;
    background: $white;

   &Title
     display: flex;
     justify-content: center;
     width: 100%;
     font-weight: 400;

  .txWallet
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

  .btnDivider
    min-width: 14px;

  &Content
    padding: 24px 14px 0;
    background: $basic50;
    height: 100%;
    overflow: auto;
    max-height: calc(100% - 104px);
    padding-bottom: 24px;

  &Counter
    background: $submit400;
    color: $white;
    height: 20px;
    min-width: 20px;
    padding: 0 6px;
    margin-right: 8px;
    text-align: center;
    line-height: 20px;
    display: block;
    border-radius: 10px;

  .cardItem
    margin-bottom: 8px;
    cursor: pointer;

    & > div:not(:first-child)
      display: none;

  .clearAllBtn
    color: $basic500;
    oadding: 4px 6px;
    background: $basic100;
    border-radius: 4px;

   //notifications

  .allowNotification
    margin: 0 10px;

  .timestamp
    margin: 14px 0 0;
    padding: 10px 0;
    border-bottom: 1px dashed $basic200;

  .messageItemInner
    background: $white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #9ba6b266;
    margin-left: -14px;
    margin-right: -14px;
    padding: 10px;
    flex-wrap: wrap;
    .messageText
      display: block;
      word-break: break-word;

  .messageIcon
    background: url(../../../assets/img/t-message-48.svg) center no-repeat;
    width: 48px;
    height: 48px;
    margin-right: 8px;

  .messageTitle
    flex-grow: 1;
