@import '../../../styles/colors.styl';

.account
  width: 100%;

  .firstError
  .secondError
    background: transparent;
    color: $error500;
    padding: 0;
    transform: none;
    top: 58px;
    left: 0px;
    font-size: 12px;

.content
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  height: 60%;
  width: 240px;
  margin: auto;
