@import '../../../styles/colors.styl';

.newAccountName
  width: 100%;
  height: 100%;

.content
  display: block;
  position: relative;
  margin: 84px 60px 0;
  height: 343px;
  font-weight: 400;

  button {
    position: absolute;
    bottom: 0;
  }

  .error
    top: 72px;
    left: 0;
    transform: none;
    padding: 0;
    background: transparent;
    color: $error500;
    font-size: 12px;
