@import '../../../styles/colors.styl';

.account
  width: 100%;

  .firstError
  .secondError
    top: 58px;
    position: absolute;

.content
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  height: 60%;
  width: 240px;
  margin: auto;
