@import '../../../styles/colors.styl';

.newAccountName
  width: 100%;
  height: 100%;

.content
  display: block;
  position: relative;
  margin: 84px 60px 0;
  height: 370px;

  .buttons
    position: absolute;
    bottom: 0;
    width: 100%;

    button
      margin-top: 12px;
