.content
  margin: 0 48px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

.title
  margin-bottom: 24px;

.greyLine
  margin: 0 -48px 78px;

.wavesIcon
  margin-right: 2px;