.content
  margin: 44px 0 0;

.downloadQr
  margin: 100px auto 0 auto;
  display: inline-block;
  width: auto;
  padding: 0 16px 0 36px;
  background: url(../../../assets/img/download-14-white.svg) 14px center no-repeat;
