@import '../../../styles/colors.styl';

.content
  margin: 64px 24px;
  border-radius: 4px;
  background: $basic50;
  padding: 24px 14px;

.downloadQr
  margin: 24px auto 0 auto;
  width: auto;
  background: url(../../../assets/img/download-14-white.svg) 14px center no-repeat;
  padding: 0 14px 0 36px;
  height: 32px;
  line-height: 32px;
