@import './../../../styles/colors.styl';

.content
  width: 100%;
  position: relative;
  padding: 110px 60px;

.settingsMenuItem
  border-bottom: 1px solid $accent50;
  line-height: 44px;
  height: 44px;
  display: block;
  background-position: center right;
  background-repeat: no-repeat;

  button.settingsBtn
    opacity: .6;
    width: 100%;
    height: 44px;

  &:hover
    button.settingsBtn
      opacity: 1;

  &.network
    background-image: url(../../../assets/img/network-14-basic-200.svg);
  &.pairing
    background-image: url(../../../assets/img/pairing-14-basic-200.svg);
  &.language
    background-image: url(../../../assets/img/language-14-basic-200.svg);
  &.password
    background-image: url(../../../assets/img/password-14-basic-200.svg);
  &.logout
    background-image: url(../../../assets/img/logout-14-basic-200.svg);

.networkTab
  margin: 64px 60px 0 60px;

  .copyIcon
    position: absolute;
    right: 0;
    top: 0;
