@import '../../../styles/colors.styl';

.transaction
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  .txRow
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    word-break: break-all;

    &.bordered
      border-top: 1px dashed $basic200;
      border-bottom: 1px dashed $basic200;

    & + .txRow
      border-top: 1px dashed $basic200;

  .txScrollBox
    overflow: auto;
    height: 100%;
    max-height: calc(100% - 177px);
    position: relative;
    padding: 0 24px;

  .txIcon div
    width: 48px;
    height: 48px;
    margin: 24px auto 0 auto;

  .txBalance
    width: 100%;
    margin: 0 auto 36px auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    &.block
      display: block;

    span:first-child
      font-weight: 600;

.txButtonsWrapper
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 14px 14px;
  background: $white;
  border-top: 1px solid $basic100;

// final transaction step

.txBigIcon {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.txFinal {
  margin-top: 130px;

  button {
    margin: 44px auto 0 auto;
  }
}

.txSign {
  margin: 93px 0 0;
  .infoBlock {
    margin-top: 44px;
  }
  .appName {
    margin-right: 5px;
    max-width: 100%;
    word-break: break-all;
  }
}

.txContent {
  margin: 0 24px;
}

