@import '../../../styles/colors.styl';

.transaction
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  .txRow
    width: calc(100% - 48px);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 24px;

    & + .txRow
      border-top: 1px dashed $basic200;

  .txScrollBox
    overflow: auto;
    padding-bottom: 24px;
    max-height: 290px;
    position: relative;

    &:after
      content: '';
      display: block;
      height: 24px;
      bottom: 64px;
      position: fixed;
      left: 24px;
      width: calc(100% - 48px);
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 43%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 43%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 43%);

  .txIcon div
    width: 48px;
    height: 48px;
    margin: auto;

  .txBalance
    width: calc(100% - 48px);
    margin: 0 auto 36px auto;
    white-space: nowrap;
    line-height: 1em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    span
      margin: 0 7px;

  .txButtonsWrapper
    width: calc(100% - 48px);
    position: fixed;
    bottom: 0;
    margin: 0 24px 24px;
    background: $white;

// final transaction step

.txFinal {
  margin-top: 130px;

  .txFinalIcon {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    margin: 44px auto 0 auto;
  }
}
