@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.sponsorshipTransactionCard
  @extends .transaction-card

.sponsorshipCard_collapsed
  .origin
    display: none;

.sponsorshipTxIcon
  @extends .txIcon

.sponsorshipTxScrollBox
  @extends .txScrollBox
