.tabList {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    cursor: default;
}

.tabListItem {
    display: inline-block;
    list-style: none;
    padding-bottom: 0.7rem;
    margin-right: 0.75rem;
}

.tabListActive {
    border-bottom: solid #1f5af6;
    border-bottom-width: 2px;
    font-weight: 400;
}

.tabContent {

}

.tabs {

}