@import '../../../styles/colors.styl';

.select
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  position: relative;

.list
  box-shadow: 0 4px 6px 0 rgba(155, 166, 178, 0.4);
  background: $white;
  border-radius: 4px;
  position: absolute;
  z-index: 50;
  right: 0;
  min-width: 100%;
  max-width: 300px;
  width: fit-content;
  max-height: 240px;
  overflow-y: auto;

.list_placement_bottom
  margin-top: 2px;

.list_placement_top
  bottom: 100%;
  margin-bottom: 2px;

.listItem
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  padding: 0 14px;
  font-size: 14px;
  white-space: nowrap;

  &:hover
    background: $basic50;

.listItemSelected
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

.selectInput
  position: relative;
  width: 100%;
  border-radius: 4px;
  border: solid 1px $basic100;
  background-color: $white;
  padding: 0 14px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  &:after
    content: '';
    width: 14px;
    height: 14px;
    background: url(../../../assets/img/select-14-black.svg) center no-repeat;
