.root {
  position: relative;
  display: inline-block;
}

.rootFill {
  width: 100%;
}

.trigger {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trigger:after {
  margin-left: auto;
  content: '';
  width: 14px;
  height: 14px;
  background: url(../../../assets/img/select-14-black.svg) center no-repeat;
}

.triggerText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list {
  position: absolute;
  z-index: 50;
  right: 0;
  width: fit-content;
  min-width: 100%;
  max-width: 300px;
  max-height: 240px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(155, 166, 178, 0.4);
  background: var(--color-white);
}

.listPlacementBottom {
  margin-top: 2px;
}

.listPlacementTop {
  bottom: 100%;
  margin-bottom: 2px;
}

.item {
  display: flex;
  align-items: center;
  max-width: 300px;
  white-space: nowrap;
  cursor: pointer;
}

.item:hover {
  background: var(--color-basic50);
}

/* Compact theme */

.themeCompact .trigger {
  padding: 1px 14px 0 0;
  border-bottom: 1px dotted var(--color-basic500);
  border-radius: 0;
  background: none;
}

.themeCompact .trigger::after {
  position: absolute;
  right: 0;
}

.themeCompact .item {
  padding: 8px 14px;
}

/* Solid theme */

.themeSolid .trigger {
  padding: 10px 14px;
  border: 1px solid var(--color-basic100);
  border-radius: 4px;
  background: var(--color-white);
  font-size: 14px;
  line-height: 18px;
}

.themeSolid .item {
  padding: 11px 14px;
  font-size: 14px;
  line-height: 18px;
}

/* Underlined theme */

.themeUnderlined .trigger {
  padding: 7px 14px 6px 8px;
  border-bottom: 1px solid var(--color-basic500);
  border-radius: 0;
  background: none;
  font-size: 14px;
  line-height: 18px;
}

.themeUnderlined .trigger::after {
  position: absolute;
  right: 0;
}

.themeUnderlined .item {
  padding: 11px 14px;
  font-size: 14px;
  line-height: 18px;
}
