@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.scriptInvocationTransactionCard
  @extends .transaction-card

.scriptInvocationCard_collapsed
  .origin
    display: none;

.scriptInvocationTxIcon
  @extends .txIcon

.scriptInvocationTxScrollBox
  @extends .txScrollBox
  flex-grow: 0;

.cardContent
  padding-left: 0;

.origin
  padding-left: 58px;

.dataScript pre
  white-space: pre;

.data
  overflow: hidden;
  color: $black;

.dataRow
  width: 100%;
  margin-bottom: 2px;
  white-space: nowrap;

.dataItem,
.dataItemLast
  overflow: hidden;
  text-overflow: ellipsis;

.dataItem
  padding: 2px 7px 2px 0;
  text-align: right;

.dataItemLast
  text-align: left

.dataTable
  width: 100%;
  td
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
