textarea {
  resize: none;
}

.wrapper {
  position: relative;
  width: 100%;
}

.input {
  position: relative;
  padding: 11px 14px;
  outline: 0 none;
  border: solid 1px var(--color-basic100);
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 14px;
  transition:
    border 0.3s,
    outline 0.3s,
    color 0.3s,
    background-color 0.3s;
}

.input:hover {
  border: 1px solid var(--color-basic500);
}

.input:focus {
  outline: none;
  border: 1px solid var(--color-submit400);
}

.error .input,
.error .input:hover {
  border: 1px solid var(--color-error400);
}

.input[disabled] {
  background: var(--color-basic50);
  color: var(--color-basic500);
}

.input[disabled]::placeholder {
  color: var(--color-basic500);
}

.input[disabled]:hover {
  border: 1px solid var(--color-basic100);
}

.password .input {
  padding-right: 32px;
}

.passwordIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 14px;
  height: 14px;
  background: url(../../../assets/img/eye-basic200.svg) center no-repeat;
  cursor: pointer;
  transform: translateY(-50%);
}

.textarea {
  padding: 14px;
  transition: 0.3s;
}

:global .input-like {
  position: relative;
  padding: 0 14px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #9ba6b266;
  background: #ffffff;
  line-height: 24px;
  transition: 0.3s;
}

:global .input-like:hover {
  box-shadow: 0 4px 6px 0 #9ba6b266;
}

:global .input-like.password-input {
  padding-left: 42px;
}

.checkbox {
  width: 22px;
  height: 22px;
}

input[type='checkbox'] {
  content: '';
  flex-shrink: 0;
  padding: 0;
  display: block;
  border: 1px solid var(--color-basic100);
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background: url(../../../assets/img/check-12-basic-200.svg) center no-repeat;
  appearance: none;
}

input[type='checkbox']:focus {
  border: 1px solid var(--color-basic100);
}

input[type='checkbox']:checked {
  border: 1px solid var(--color-submit400);
  background: url(../../../assets/img/check-12-white.svg) center no-repeat
    var(--color-submit400);
}

input[type='checkbox']:hover {
  border: 1px solid var(--color-submit400);
  cursor: pointer;
}

input[type='checkbox'] + label {
  flex-grow: 1;
  cursor: pointer;
}
