@import '../../../../styles/colors.styl'

.dotsDivider
  height: 0;
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(155, 166, 178, 0.4);

.codeInput
  width: 40px;

.codeInputLabel
  display: inline-block;
  width: 176px;
  margin-left: 12px;
