.tooltip {
  max-width: 328px;
  padding: 8px 14px;
  color: #fff;
  font-size: 14px;
  background-color: #000;
  border-radius: 2px;
}

.tooltip[data-popper-reference-hidden='true'],
.tooltip[data-popper-reference-escaped='true'] {
  visibility: hidden;
  pointer-events: none;
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
}
.arrow:after {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  transform: rotate(45deg);
  content: ' ';
}

.tooltip[data-popper-placement^='top'] > .arrow {
  top: calc(100% - 7px);
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
  bottom: calc(100% - 7px);
}

.tooltip[data-popper-placement^='right'] > .arrow {
  right: calc(100% - 7px);
}

.tooltip[data-popper-placement^='left'] > .arrow {
  left: calc(100% - 7px);
}
