.tooltip {
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  padding: 8px 14px;
  text-align: center;
  font-size: 14px;
  max-width: 90%;
}

.tooltip > .arrow {
  position: absolute;
  width: 10px;
  height: 10px;
}

.tooltip > .arrow:after {
  content: ' ';
  background-color: black;
  position: absolute;
  bottom: 13px;
  left: 0;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
}

.tooltip[data-popper-reference-hidden='true'],
.tooltip[data-popper-reference-escaped='true'] {
  visibility: hidden;
  pointer-events: none;
}

.tooltip[data-popper-placement^='top'] > .arrow:after {
  top: 18px;
  bottom: auto;
}

.tooltip[data-popper-placement^='right'] > .arrow:after {
  bottom: auto;
  left: -18px;
}
