@import '../../../styles/colors.styl';

.assetCard
  width: 100%;
  background: $white;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(155, 166, 178, 0.4);
  border-radius: 4px;
  padding: 14px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  cursor: default;
  height: 64px;

.assetData
  flex-grow: 1;
  text-align: left;

.assetTitle
  display: flex;
  justify-content: flex-start;
  height: 24px;
  max-width: 180px;

.assetName
  padding-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;

.assetStatusIcon
  min-width: 18px;
  min-height: 18px;

.favBtn {
  position: absolute;
  right: 40px;
  bottom: 19px;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  margin-right: 4px;
}

.favIcon {
  width: 28px;
  vertical-align: middle;
}

.favIcon:hover {
  stroke: #9ba6b2;
}

.favTooltip {
  top: -15px;
  right: 46px;
  white-space: nowrap;
}

.infoButton {
  position: absolute;
  right: 14px;
  bottom: 19px;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}


.infoIcon {
  width: 28px;
  vertical-align: middle;
  fill: #dae1e9;
}

.infoIcon:hover {
  fill: #9ba6b2;
}

.infoTooltip {
  top: -15px;
  right: 16px;
  white-space: nowrap;
}