.assetCard {
  width: 325px;
  background: #fff;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(155, 166, 178, 0.4);
  border-radius: 4px;
  padding: 8px 14px;
  position: relative;
  z-index: 1;
  margin: 0 14px 8px 14px;
  height: 64px;
  overflow: hidden;
}

.assetIcon {
  flex-shrink: 0;
}

.assetData {
  flex-grow: 1;
  margin-bottom: auto;
  overflow: hidden;
  text-align: left;
}

.assetTitle {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.assetName {
  overflow: hidden;
  text-overflow: ellipsis;
}

.assetStatusIcon {
  min-width: 18px;
  min-height: 18px;
}

.swapBtn,
.favBtn,
.sendBtn,
.infoBtn {
  background: none;
  cursor: pointer;
}

.swapIcon,
.favIcon,
.sendIcon,
.infoIcon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.favIcon {
  stroke: var(--color-basic200);
}

.swapIcon,
.sendIcon,
.infoIcon {
  fill: var(--color-basic200);
}

.swapIcon:hover,
.sendIcon:hover,
.infoIcon:hover {
  fill: var(--color-basic500);
}

.favIcon:hover {
  stroke: var(--color-basic500);
}
