.assetCard {
  width: 100%;
  background: #fff;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(155, 166, 178, 0.4);
  border-radius: 4px;
  padding: 14px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  height: 64px;
}

.assetData {
  flex-grow: 1;
  text-align: left;
}

.assetTitle {
  display: flex;
  gap: 4px;
  height: 24px;
  max-width: 210px;
}

.assetName {
  overflow: hidden;
  text-overflow: ellipsis;
}

.assetStatusIcon {
  min-width: 18px;
  min-height: 18px;
}

.favBtn {
  position: absolute;
  right: 40px;
  bottom: 19px;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  margin-right: 4px;
}

.favIcon {
  width: 28px;
  vertical-align: middle;
}

.favIcon:hover {
  stroke: #9ba6b2;
}

.favTooltip {
  top: -15px;
  right: 46px;
  white-space: nowrap;
}

.infoButton {
  position: absolute;
  right: 14px;
  bottom: 19px;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.infoIcon {
  width: 28px;
  vertical-align: middle;
  fill: #dae1e9;
}

.infoIcon:hover {
  fill: #9ba6b2;
}

.infoTooltip {
  top: -15px;
  right: 16px;
  white-space: nowrap;
}

.moreBtn {
  display: block;
  opacity: 1;
  position: absolute;
  right: 14px;
  bottom: 19px;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.moreBtn:hover > .moreIcon {
  opacity: 0;
}

.moreBtn:hover > .actions {
  display: block;
  opacity: 1;
}

.moreIcon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  fill: #dae1e9;
}

.actions {
  background-color: #fff;
  position: absolute;
  right: -14px;
  top: -17px;
  display: none;
  opacity: 0;
  height: 64px;
  width: 86px;
  border-radius: 4px;
  z-index: 10;
}

.actions::before {
  opacity: 0.25;
  position: absolute;
  top: 0;
  right: 86px;
  width: 40px;
  height: 64px;
  content: '';
  background: linear-gradient(to right, #fff 0%, #dae1e9 100%);
}
