.historyCard {
  width: 100%;
  background: #fff;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(155, 166, 178, 0.4);
  border-radius: 4px;
  padding: 8px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  cursor: default;
  height: 64px;
}

.historyData {
  flex-grow: 1;
  text-align: left;
}

.historyInfo,
.historyLabel {
  line-height: 24px;
  height: 24px;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.historyIcon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 1rem;
  text-align: center;
  color: #edf0f4;
  margin-right: 8px;
}

.historyIcon div {
  width: 48px;
  height: 48px;
}

.infoButton {
  position: absolute;
  right: 14px;
  bottom: 19px;
  border: 0;
  padding: 0;
  border-radius: 2px;
  background: none;
  cursor: pointer;
}

.infoIcon {
  width: 28px;
  vertical-align: middle;
  fill: #dae1e9;
}

.infoIcon:hover {
  fill: #9ba6b2;
}

.txIconTooltip {
  top: 12px;
  left: 60px;
  white-space: nowrap;
}

.infoTooltip {
  top: -13px;
  right: 15px;
  white-space: nowrap;
}
