.historyCard {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  height: 64px;
  margin-bottom: 8px;
  padding: 8px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(155, 166, 178, 0.4);
  cursor: default;
}

.historyData {
  flex-grow: 1;
  text-align: left;
}

.historyInfo,
.historyLabel {
  display: flex;
  align-items: center;
  max-width: 216px;
  height: 24px;
  overflow: hidden;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recipient {
  width: 100%;
  color: var(--color-basic500);
}

.recipient i {
  width: 14px;
  height: 14px;
}

.historyIconWrapper {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  color: #edf0f4;
  font-size: 1rem;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
}

.historyIcon {
  width: 48px;
  height: 48px;
}

.infoButton {
  position: absolute;
  right: 10px;
  bottom: 19px;
  padding: 0;
  background: none;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.infoIcon {
  width: 28px;
  vertical-align: middle;
  fill: var(--color-basic200);
}

.infoIcon:hover {
  fill: var(--color-basic500);
}

.txSubIconContainer {
  position: relative;
  top: 2px;
  left: 2px;
}

.txSubIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  font-size: 0.75rem;
  line-height: 18px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 57, 53);
  border-radius: 50%;
}

.txSubIconSvg {
  width: 10px;
  height: 10px;
}
