.historyCard {
  width: 325px;
  background: #fff;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(155, 166, 178, 0.4);
  border-radius: 4px;
  padding: 8px;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  height: 64px;
  overflow: hidden;
}

.historyData {
  flex-grow: 1;
  text-align: left;
  overflow: hidden;
}

.historyInfo,
.historyLabel {
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.historyIconWrapper {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 1rem;
  text-align: center;
  color: #edf0f4;
  margin-right: 8px;
}

.historyIcon {
  width: 48px;
  height: 48px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  height: 64px;
  padding: 0 8px;
  margin-right: -14px;
  gap: 4px;
  border-radius: 4px;
}

.infoBtn {
  background: none;
  padding: 0 8px;
}

.infoIcon {
  width: 28px;
  vertical-align: middle;
  fill: var(--color-basic200);
}

.infoIcon:hover {
  fill: var(--color-basic500);
}

.txSubIconContainer {
  position: relative;
  top: 2px;
  left: 2px;
}

.txSubIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid rgb(229, 57, 53);
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0.75rem;
  text-align: center;
  vertical-align: center;
  background-color: rgb(255, 255, 255);
}

.txSubIconSvg {
  width: 10px;
  height: 10px;
}
