.moreActions {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  height: 64px;
  margin-right: -14px;
  padding: 0 8px;
  background-color: var(--color-white);
  border-radius: 4px;
}

.content {
  position: absolute;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 8px;
  background-color: var(--color-white);
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.07);
}

.moreBtn {
  background: none;
  cursor: pointer;
}

.moreIcon {
  height: 28px;
  vertical-align: middle;
  fill: var(--color-basic200);
}
