.nftCard {
  width: 325px;
  background: #fff;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(155, 166, 178, 0.4);
  border-radius: 4px;
  padding: 14px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  height: 64px;
}

.nftData {
  flex-grow: 1;
  text-align: left;
}

.nftName {
  height: 24px;
  line-height: 24px;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoButton {
  position: absolute;
  right: 14px;
  bottom: 19px;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.infoIcon {
  width: 28px;
  vertical-align: middle;
  fill: #dae1e9;
}

.infoIcon:hover {
  fill: #9ba6b2;
}

.infoTooltip {
  top: -15px;
  right: 16px;
  white-space: nowrap;
}