.root
  margin: 84px 60px 0;

.keystoreFile
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 10px;

.keystoreFileButton
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #1f5af6;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  cursor: pointer;

  &:hover
    background-color: #5a81ea;

.keystoreFileInput
  position: absolute;
  opacity: 0;
  pointer-events: none;

.keystoreFileName
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
