.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(155, 166, 178, 0.4);
  border-radius: 4px;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  overflow: hidden;
  cursor: pointer;
}

.cover {
  width: 170px;
  height: 142px;
  flex-grow: 1;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer {
  padding: 8px;
  line-height: 1em;
}
