.cover {
  width: 170px;
  height: 142px;
  flex-grow: 1;
  object-fit: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer {
  padding: 8px;
  line-height: 1em;
}
