.nftList {
  flex-grow: 1;
  margin-left: 14px;
}
.container {
    margin-top: 6px;
}

.nftRow {
  flex-basis: 50%;
  margin-right: 14px;
  display: flex;
  gap: 14px;
}

.nftRow.noScroll {
  margin-right: 14px;
}
