.tabList
  display: flex;
  border-bottom: 1px solid var(--color-basic200);
  padding-left: 0;
  cursor: default;

.tabListItem
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  list-style: none;
  margin-right: 0.75rem;
  padding-bottom: 12px;
  text-align: center;
  &:last-child
    margin-right: 0;

.tabListActive
  border-bottom: solid #2D5AD1;
  border-bottom-width: 2px;
  font-weight: normal;
  padding-bottom: 10px;
