@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.cancelOrderTransactionCard
  @extends .transaction-card

.cancelOrderCardCollapsed
  .origin
    display: none;

.cancelOrderTxIcon
  @extends .txIcon

.cancelOrderTxScrollBox
  @extends .txScrollBox
