@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';


.reissueTransactionCard
  @extends .transaction-card

.reissueCard_collapsed
  .origin
    display: none;

.reissueTxIcon
  @extends .txIcon

.reissueTxScrollBox
  @extends .txScrollBox
  flex-grow: 0;
