@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.updateAssetInfoTransactionCard
  @extends .transaction-card

.updateAssetInfoCard_collapsed
  .origin
    display: none;

.updateAssetInfoTxIcon
  @extends .txIcon

.updateAssetInfoTxScrollBox
  @extends .txScrollBox
  flex-grow: 0;
