@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.authTransactionCard
  @extends .transaction-card

  .cardHeader,
  .cardContent
    flex-direction: column;
    margin: 0;

  .cardContent
    padding-left: 0;
    margin-bottom: 4px;
    text-align: center;

  .smallCardContent
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;

.authCardCollapsed
  .origin
    display: none;

.authTxIcon
  @extends .txIconBig

.authTxIconSmall
  @extends .txIcon
  background-size: cover;

.authTxScrollBox
  @extends .txScrollBox

.authOriginDescription
  @extends .originNetwork
  color: $black;
  font-size: 12px;

.authOriginAddress
  @extends .originAddress
  padding-top:7px;
  margin-bottom: 4px;
  color: $black;
  font-size: 14px;
