@import '../../styles/colors.styl';

.content
  padding: 14px;

.wallet
  width: 100%;
  background: $white;
  display: flex;
  box-shadow: 0 2px 4px 0 #9ba6b266;
  border-radius: 4px;
  padding: 14px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  cursor: pointer;
  height: 64px;

  .controls
    margin-top: 0;
    position: absolute;
    bottom: 18px;
    right: 14px;
    border: 1px dashed $basic200;
    display: block;
    border-radius: 2px;

    &:hover
      background-color: $basic50;
      border: 1px solid $basic200;

    div, .accountIcon
      padding: 0;
      border: 0 none;

    .accountIcon
      &:hover
        background-color: $basic100;

.activeWallet
  width: 100%;

  .wallet
    height: 112px;
    margin-bottom: 0;
    z-index: 3;

    .accountData
      .accountName
        max-width: 245px;

    .controls
      width: 100%;
      margin-top: 18px;
      position: relative;
      bottom: 0;
      right: 0;
      display: flex;
      border-color: transparent;

      &:hover
        background-color: transparent;
        border-color: transparent;

      div
        padding: 0 8px 0 28px;
        background-color: $basic50;
        border: 0.5px solid  $basic100;
        height: 26px;
        border-radius: 2px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;

        &:not(:last-child):hover
          background-color: $basic100;

      .accountIcon
        position: absolute;
        padding: 0;
        right: 0;
        bottom: 0;
        width: 30px;
        height: 26px;
        background-color: transparent;
        border-color: transparent;
        margin-right: 0;

.activeWalletSelected
  &.activeAccountHeader
    width: auto;

.accountIcon
  width: 28px;
  height: 26px;

.title
  color: $disabled200;

.activeAccountHeader
  color: $white;
  margin: 0 0 8px 0;
  position: relative;
  z-index: 1;

.inner
  flex-wrap: wrap;

.avatar
  width: 40px;
  height: 40px;
  margin-right: 14px;
  & > div
    border: 0 none;

  img
    width: 40px !important;
    height: 40px !important;
    margin: 0;

.accountData
  flex-grow: 1;
  text-align: left;

  .accountName
    height: 24px;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;

  div
    height: 16px;

.showQrIcon
  background: url(../../assets/img/qr-14-black.svg) 8px 5px no-repeat;

.copyIconBlack
  display: block;
  cursor: pointer;
  background: url(../../assets/img/copy-14-black.svg) 8px 5px no-repeat $basic50;

:global .animate_active-enter
  animation-name: animation-active-show;
  animation-duration: 0.6s;
  animation-fill-mode: both;

:global .animate_active-leave
  position: absolute;
  animation-name: animation-active-hide;
  animation-duration: 0.6s;
  animation-fill-mode: both;


@keyframes :global(animation-active-show)
  0%
    opacity: 0;
  100%
    opacity: 1;

@keyframes :global(animation-active-hide)
  0%
    opacity: 1;
  100%
    opacity: 0;
