@import '../../styles/colors.styl';

.content {
  padding: 14px;
}

.activeWallet
  width: 100%;
  margin-bottom: 24px;

.wallet
  width: 100%;
  background: $white;
  display: flex;
  box-shadow: 0 2px 4px 0 #9ba6b266;
  border-radius: 4px;
  padding: 14px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  cursor: pointer;

  &.active
    height: 112px;
    cursor: pointer;

.accountIcon
  width: 28px;
  height: 26px;

  &.inactive
    border $disabled200 dashed 0.5px;

.balance
  font-weight: 600;

.title
  color: $disabled200;

.activeAccountHeader {
  color: $white;
  margin: 0 0 8px 0;
  position: relative;
  z-index: 1;
}

.inner {
  flex-wrap: wrap;
}

.avatar {
  width: 40px;
  margin-right: 14px;
  & > div {
    border: 0 none;
  }

  img {
    width: 40px !important;
    height: 40px !important;
    margin: 0;

  }
}

.accountData {
  flex-grow: 1;
  text-align: left;

  div {
    height: 24px;
  }
}

.controls {
  flex-basis: 100%;
  display: flex;
  position: relative;
  margin-top: 18px;

  div {
    background-color: $basic50;
    border: 0.5px solid  $basic100;
    padding: 0 8px 0 28px;
    height: 26px;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;

    &:last-child {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 26px;
      height: 26px;
      border: 0 none;
      background: none transparent;
      margin-right: 0;
    }
  }
}

.showQrIcon {
  background: url(../../assets/img/qr-14-black.svg) 8px 5px no-repeat;
}

.copyIconBlack {
  display: block;
  cursor: pointer;
  background: url(../../assets/img/copy-14-black.svg) 8px 5px no-repeat $basic50;
}