@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';


.cancelLeaseTransactionCard
  @extends .transaction-card

.cancelLeaseCard_collapsed
  .origin
    display: none;

.cancelLeaseTxIcon
  @extends .txIcon

.cancelLeaseTxScrollBox
  @extends .txScrollBox
  flex-grow: 0;
