.root {
  display: flex;
  gap: 8px;
  align-items: center;
}

.accountName {
  max-height: 2.4em;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.2;
  text-overflow: ellipsis;
  word-wrap: anywhere;
}
