.root {
  display: flex;
  flex-direction: column;
}

.pairSelect {
  margin-bottom: 24px;
}

.swapDirectionBtnWrapper {
  margin: -11px 0;
  padding: 0 14px;
}

.swapDirectionBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  color: #edf0f4;
  vertical-align: middle;
  cursor: pointer;
}

.swapDirectionBtn:not(:disabled):hover {
  background: #edf0f4;
}

.swapDirectionBtn:disabled {
  background: #f8f9fb;
  cursor: not-allowed;
}

.swapDirectionBtnIcon {
  color: #9ba6b2;
}

.priceRow {
  margin: 1em 0;
  display: flex;
  gap: 1em;
  font-size: 12px;
  font-weight: 300;
}

.priceRowLabel {
  color: #9ba6b2;
}

.priceRowValue {
  flex: 1 1 auto;
  text-align: right;
}

.error {
  margin-top: 8px;
  overflow: auto;
  color: #e5494d;
  font-size: 12px;
}

.summary {
  margin-top: 1em;
  font-size: 12px;
}

.summaryRow {
  display: flex;
  gap: 1em;
  white-space: nowrap;
}

.summaryRow + .summaryRow {
  margin-top: 1em;
}

.summaryRow_center {
  align-items: center;
}

.summaryLabel {
  flex: 0 0 auto;
  padding-left: 0;
  color: #9ba6b2;
  font-weight: 300;
}

.summaryValue {
  flex: 1 1 0;
  min-width: 0;
  text-align: right;
}

.summaryValueText {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summaryLabelTooltip {
  display: inline-block;
  border-bottom: 1px dotted;
}

.summaryTooltipContent {
  max-width: calc(100vw - 14px * 2);
}

.route {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}

.routeItemArrow,
.routeItemName {
  flex: 0 0 auto;
}

.routeItemArrow {
  width: 7px;
  height: 12px;
  fill: currentColor;
}
