.root {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
  padding: 14px;
}

.accountInfoHeader {
  margin-bottom: 16px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.statusBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusIcon {
  width: 80px;
  height: 80px;
}

.main {
  flex-grow: 1;
}

.card {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px #9ba6b2;
  background: #fff;
}

.cardIcon {
  width: 48px;
  height: 48px;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
}
