@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.setScriptTransactionCard
  @extends .transaction-card

.setScriptCardCollapsed
  .origin
    display: none;

.setScriptTxIcon
  @extends .txIcon

.setScriptTxScrollBox
  @extends .txScrollBox

.cardContent
  padding-left: 0;

.origin
  padding-left: 58px;
