.header {
  display: flex;
  align-items: center;
}

.icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.data {
  margin-bottom: 4px;
  color: var(--color-basic500);
  font-size: 12px;
}

.title {
  font-weight: 500;
  font-size: 18px;
}
