.header {
  align-items: center;
  display: flex;
}

.icon {
  height: 48px;
  margin-right: 10px;
  width: 48px;
}

.data {
  color: #9ba6b2;
  font-size: 12px;
  margin-bottom: 4px;
}

.title {
  font-size: 18px;
  font-weight: 500;
}
