@import '../../../../styles/colors.styl'

/* Hack to mack chrome */
@keyframes showNetworks
  5%
    transform: translateY(-800px);
  90%
    opacity: 1;
    transform: translateY(-800px);
  100%
    transform: translateY(0px);
    opacity: 1;

@keyframes hideNetworks
  5%
    transform: translateY(0px);
  15%
    transform: translateY(-800px);
  20%
    opacity: 0.001;
    transform: translateY(-800px);
  100%
    opacity: 0.001;
    transform: translateY(-800px);

.network
  flex-grow: 0;
  cursor: pointer;

.networkBottom
  border-bottom: 1px dotted $basic500;

.selectNetworks
  position: absolute;
  bottom: 6px;
  left: 6px;
  background-color: white;
  padding: 2px 8px;
  box-shadow: 0 2px 6px 0 #9ba6b266;
  border-radius: 5px;
  z-index: 10;
  opacity: 0.001;
  transform: translateY(-800px);
  animation-fill-mode: both;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-name: hideNetworks;

  &.isShow
    animation-name: showNetworks;

.chooseNetwork
  padding: 6px 5px;
  width: 100%;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: $basic500;

  &:hover
    color: $black;
    .networkIcon
      display: none;
    .networkIconActive
      display: inline-block;


  &:not(:first-child)
    border-top: 1px solid $accent50;

  span
    border-bottom: 0 none;

.networkIconActive
  display: none;

.networkIcon,
.networkIconActive
  margin-right: 8px;

.selectedNet
  cursor: default;
  color: $black;

  .networkIcon
    display: none;
  .networkIconActive
    display: block;

.disabledNet
  opacity: 0.5;

.editBtn
  border: 1px solid $basic200;
  background: $basic100;
  margin 0 10px -3px 10px;
  padding: 2px 6px;
  display: inline-block;
  font-size: 11px;
  border-radius: 4px;
  transition: .3s;

  &:hover
    background: $basic200;


.tooltipContent {
  max-width: calc(357px - 14px * 2);
}