.content {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  overflow: auto;
  padding: 20px 40px 40px;
}

.error {
  background: none;
  border-color: var(--color-error400);
  color: var(--color-error400);
  flex-shrink: 0;
  min-height: 1rem;
}

.errorIcon {
  background-size: cover;
  display: block;
  flex-shrink: 0;
  height: 48px;
  margin: 0 auto 24px auto;
  width: 48px;
}
