.content {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 32px;
  overflow: auto;
  font-weight: 400;
}

.error {
  flex-shrink: 0;
  border-color: var(--color-error400);
  min-height: 1rem;
  background: none;
  color: var(--color-error400);
}

.errorIcon {
  display: block;
  flex-shrink: 0;
  margin: 0 auto 24px auto;
  width: 48px;
  height: 48px;
  background-size: cover;
}
