.content {
  display: flex;
  flex-direction: column;
  margin: 60px 40px;
  font-weight: 400;
}

.subtractMenu {
  margin-top: 12px;
}

.error {
  min-height: 1rem;
  color: var(--color-error400);
  background: none;
  border-color: var(--color-error400);
}

.errorIcon {
  width: 48px;
  height: 48px;
  margin: 0 auto 24px auto;
  display: block;
  background-size: cover;
}