@import '../../../styles/colors.styl';

.showAllScript
  max-height: none;
  div:first-child
    max-height: none;

.codeScript
  display: flex;
  word-break: break-all;
  overflow: hidden;
  white-space: normal;
  color: $black;
