@import '../../../styles/colors.styl';

.showAllScript
  max-height: none;
  div:first-child
    max-height: none;

.codeScript
  display: flex;
  word-break: break-all;
  overflow: hidden;
  white-space: normal;
  color: $black;

.data
  overflow: hidden;
  color: $black;

.headRow
  margin-bottom: 2px;

.headRow
.dataRow
  width: 100%;
  overflow: hidden!important;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 2px;

div.dataTable
  display: block;

.dataItem
.dataItemData
.dataItemDataLast
  width: 150px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

.dataItemData
  width: 80px;

.dataItemDataLast
  width: 100%;
