@import '../../../styles/colors.styl';

.showAllScript
  max-height: none;

.codeScript
  display: flex;
  word-break: break-all;
  overflow: hidden;
  white-space: normal;
  color: $black;

.data
  overflow: hidden;
  color: $black;

.headRow,
.dataRow
  display: flex;
  width: 100%;
  margin-bottom: 2px;
  white-space: nowrap;

.dataItemDataLast,
.dataItemData
  overflow: hidden;
  text-overflow: ellipsis;

.dataItemData
  width: 25%;

.dataItemDataLast
  width: 50%;
