@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.originAuthTransactionCard
  @extends .transaction-card
  margin-bottom: 24px;

  .cardHeader,
  .cardContent
    flex-direction: column;
    margin: 0;

  .cardContent
    padding-left: 0;
    margin-bottom: 4px;
    text-align: center;

.originAuthCard_collapsed
  .origin
    display: none;

.originAuthTxIcon
  @extends .txIconBig
  div
    margin-bottom: 4px;

.originAuthTxScrollBox
  @extends .txScrollBox
  flex-grow: 0;

.originAuthOriginDescription
  @extends .originDescription
  color: $black;
  font-size: 12px;

.originAuthOriginAddress
  @extends .originAddress
  padding-top:7px;
  margin-bottom: 4px;
  color: $black;
  font-size: 14px;
