@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.collapsedTitle
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding-left: 40px;
  cursor: pointer;

  &:before
    position: absolute;
    content: ' ';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: url(../../../assets/img/setting-14-white.svg) center no-repeat $info400;
    left: 10px;
    top: 10px;

.collapsed
  margin-top: 24px;
  background-color: $white;
  width: 100%;
  border-radius: 4px;
  border: solid 1px $basic100;
  margin-left: 0;

.originAuthTransactionCard
  @extends .transaction-card

  .cardHeader,
  .cardContent
    flex-direction: column;
    margin: 0;

  .cardContent
    padding-left: 0;
    margin-bottom: 4px;
    text-align: center;

  .smallCardContent
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;

.originAuthCard_collapsed
  .origin
    display: none;

.originAuthTxIcon
  @extends .txIconBig
  div
    margin-bottom: 4px;

.originAuthTxIconSmall
  @extends .txIcon

.originAuthTxScrollBox
  @extends .txScrollBox

.originAuthOriginDescription
  @extends .originNetwork
  color: $black;
  font-size: 12px;

.originAuthOriginAddress
  @extends .originAddress
  padding-top:7px;
  margin-bottom: 4px;
  color: $black;
  font-size: 14px;
