@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.finalTxScrollBox
  @extends .txScrollBox

.finalTxTitle
  padding-left 26px

.finalTxPlate
  overflow: auto;
  max-height: 240px;
  background: $basic100;
  word-break: break-all;
