.root {
  display: flex;
  align-items: center;
  gap: 8px;
  border: solid 1px var(--color-basic100);
  padding: 16px 14px;
  border-radius: 4px;
  background: #fff;
}

.logo {
  box-sizing: content-box;
  margin: 0 -3px;
  padding: 3px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: none;
}

.logo:not(:disabled) {
  cursor: pointer;
}

.logo:not(:disabled):hover {
  background: var(--color-basic100);
}

.logoImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logoPlaceholder {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.main {
  flex: 1 1 0;
  min-width: 0;
}

.top {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
  position: relative;
}

.bottom {
  display: flex;
  gap: 8px;
}

.label {
  flex: 1 1 0;
  color: var(--color-basic500);
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.balance {
  flex-shrink: 0;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.value {
  flex: 1 1 0;
  position: relative;
}

.input {
  display: block;
  width: 100%;
  background: none;
  font-size: 14px;
  text-align: inherit;
}

.input:focus {
  outline: 0;
}

.usdAmount {
  bottom: -12px;
  color: var(--color-basic500);
  font-size: 11px;
  font-weight: 500;
  left: 0;
  position: absolute;
}

.result {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.usdResult {
  bottom: -12px;
  color: var(--color-basic500);
  font-size: 11px;
  font-weight: 700;
  left: 0;
  position: absolute;
}

.maxButton {
  margin: -3px -6px;
  padding: 3px 6px;
  border-radius: 4px;
  background: none;
  color: var(--color-submit400);
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

.maxButton:hover {
  background: var(--color-submit400);
  color: var(--color-white);
}
