@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.dataTransactionCard
  @extends .transaction-card

.dataCardCollapsed
  .origin
    display: none;

.dataTxIcon
  @extends .txIcon

.dataTxScrollBox
  @extends .txScrollBox

.cardContent
  padding-left: 0;

.origin
  padding-left: 58px;

.dataScript pre
  white-space: pre;
