<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <title>Keeper Wallet</title>
  </head>

  <body>
    <div id="app-content">
      <div
        style="
          height: 100%;
          background: url(<%=require('./ui/assets/img/loader.gif')%>) no-repeat
            center;
          background-size: 28px;
        "
      ></div>
    </div>

    <div id="app-modal"></div>
  </body>
</html>
