@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.matcherTransactionCard
  @extends .transaction-card

  .cardHeader,
  .cardContent
    flex-direction: column;
    margin: 0;

  .cardContent
    padding-left: 0;
    margin-bottom: 4px;
    text-align: center;

  .smallCardContent
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;

.matcherCard_collapsed
  .origin
    display: none;

.matcherTxIconSmall
  @extends .txIcon

.matcherTxIcon
  @extends .txIconBig

.matcherTxScrollBox
  @extends .txScrollBox

.matcherOriginDescription
  @extends .originNetwork
  color: $black;
  font-size: 12px;

.matcherOriginAddress
  @extends .originAddress
  padding-top:7px;
  margin-bottom: 4px;
  color: $black;
  font-size: 14px;
