@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.massTransferTransactionCard
  @extends .transaction-card

.massTransferCard_collapsed
  .origin
    display: none;

.massTransferTxIcon
  @extends .txIcon

.massTransferTxScrollBox
  @extends .txScrollBox

.massTransferSpoiler
  margin-top: 4px
  width: 100%

.massTransferItem
  background-color: #f8f9fb;
  border-radius: 4px;
  display: flex
  flex-direction: column
  margin: 0 10px 4px;
  padding: 8px 10px;

.massTransferWarningAlias
  border-radius: 2px
  border: 1px dashed #ffaf00
  color: #9ba6b2
  font-size: 11px
  margin-top: 4px
  padding: 12px 14px

.massTransferRecipient
  margin-bottom: 4px