@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.massTransferTransactionCard
  @extends .transaction-card

.massTransferCard_collapsed
  .origin
    display: none;

.massTransferTxIcon
  @extends .txIcon

.massTransferTxScrollBox
  @extends .txScrollBox

.massTransferRecipient
  float:left;
  padding-bottom: 10px

.massTransferAmount
  float: right;
  padding-bottom: 10px
  text-align: right