@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.notificationCard
  @extends .transaction-card
  padding: 0;
  box-shadow: none;
  border-radius: 0;

.notificationTxIconSmall
  @extends .txIcon

.notififactionEllipsis
  max-width: 228px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
