@import '../../styles/colors.styl'

.bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  padding: 0 14px;
  font-size: 12px;
  z-index: 10;
  box-shadow: 0 -1px 4px 0 #00000019;
  height: 34px;
  background: $basic50;
}

.hidden
  display: none;
