.bottom {
  position: absolute;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 34px;
  padding: 0 14px;
  font-size: 12px;
  white-space: nowrap;
  background: var(--color-basic50);
  box-shadow: 0 -1px 4px 0 #00000019;
}
