@import '../../styles/colors.styl'

.bottom {
  position: absolute;
  bottom: 14px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
  padding: 0 14px;
  font-size: 12px;

}

.hidden
  display: none;

