@import '../../styles/colors.styl'

.bottom {
  position: absolute;
  bottom: 14px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
  padding: 0 14px;

  &.hidden {
    display: none;
  }

  .network {
    background: url(../../assets/img/network-14-basic-500.svg) left center no-repeat;
    padding-left: 22px;
    flex-grow: 0;
    cursor: pointer;

    span {
      border-bottom: 1px dotted $basic500;
    }
  }
}

.selectNetworks
  position: absolute;
  bottom: -3px;
  background-color: white;
  padding: 2px 8px;
  box-shadow: 0 2px 6px 0 #9ba6b266;
  border-radius: 5px;
  z-index: 10;
  width: 100px;

  .network
    padding: 6px 5px 6px 20px;
    width: 100%;
    font-weight: 400;
    text-transform: capitalize;

    &:not(:first-child)
      border-top: 1px solid $accent50;

    span
      border-bottom: 0 none;

  .selectedNet
    cursor: default;
    background: url(../../assets/img/network-14-black.svg) left center no-repeat;
    
    span
      color: $black;

.disabledNet
  opacity: 0.5;


