@import '../../../../../styles/colors.styl';

.bottomBtns
  position: absolute;
  width: 100%;
  bottom: 14px;

.amount
  margin-top: 24px;
  position: relative;

.title
  margin-top: 24px;
  display: inline-block;
  position: relative;

.title:before
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 10px;
  content: '';
  top: -24px;
  background: url(../../../../../assets/img/setting-14-white.svg) center no-repeat $info400;

.description
  position: relative;
  background-color: $basic50;
  color: $basic500;
  padding: 10px 24px;
  margin: 24px -24px 0 -24px;
  width: calc(100% + 48px);

.selectTime
  margin-top: 34px;

.amountInput
  padding-right: 60px;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;

.waves
  color: $submit400;
  position: absolute;
  right: 14px;
  bottom: 14px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;

input[disabled] + .waves
  color: $submit200;

.cancelBtn
  white-space: nowrap;
  display: block;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  max-width: 240px;
  height: 40px;
  margin-top: 14px;

.btnWrapper
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px);

.btnDivider
  width: 0;
  margin: 0 8px;
